
<!-- <div class="robot-pie-chart-container"> -->
    <div id="chart">
        <apx-chart 
          [series]="chartOptions.series" 
          [chart]="chartOptions.chart" 
          [labels]="chartOptions.labels" 
          [responsive]="chartOptions.responsive" 
          [plotOptions]="chartOptions.plotOptions"
          [dataLabels]="chartOptions.dataLabels"
          [fill]="chartOptions.fill"
          [legend]="chartOptions.legend"
          [title]="chartOptions.title">
        </apx-chart>
    </div>
<!-- </div> -->
