<div class="layout-container">
  <app-fullscreen-button></app-fullscreen-button>
  <app-loader></app-loader>
  <div class="content-container">
    <div class="main-content">
      <!-- Header section -->
      <div class="header-section">
        <h1 class="header-title">{{ getTranslation("Tasks")}}</h1>
        <div class="subheader-container">
          <div class="subheader-text">{{ getTranslation("View and Edit Tasks")}}</div>
          <img
            src="../../assets/icons/i-icon.svg"
            alt="Icon"
            class="subheader-icon"
          />
        </div>
      </div>
      <!-- search container -->
      <div class="search-filter-container" >
        <!-- Search Bar -->
        <div class="search-box">
          <input type="text" (input)="onSearch($event)" placeholder="{{ getTranslation('Search For Tasks...') }}" />
          <button class="search-btn">
            <img
              src="../../assets/icons/download-removebg-preview.png"
              alt="Search"
            />
          </button>
        </div>

      </div>
      <div style="display: flex ; position: absolute; gap: 10px;top: 140px; right: 20px;">
      <div *ngIf="isButtonDisabled">
        <button class="AT-btn" (click)="toggleAssignTask()"> {{ getTranslation('assign_task') }} </button>
       <!-- <button class="AT-btn" (click)="toggleAssignTask()" > <img src="../../assets/Task.svg" style="float:left;margin-right:0.5em">{{ getTranslation('assign_task') }}</button> -->
      </div>
      <div class="filter">
        <img src="../../assets/filter.svg" class="filter-img">
      <div class="status-filter">
        <label for="status-filter">{{ getTranslation('Status') }}:</label>
        <select id="status-filter" (change)="onStatusFilter($event)">
          <option value="">{{ getTranslation('All') }}</option>
          <option value="COMPLETED">{{ getTranslation('Completed') }}</option>
          <option value="INPROGRESS">{{ getTranslation('In Progress') }}</option>
          <option value="CANCELLED">{{ getTranslation('Cancelled') }}</option>
          <option value="FAILED">{{ getTranslation('Failed') }}</option>
          <option value="NOTASSIGNED">{{ getTranslation('Not Assigned') }}</option>
        </select>
      </div>
      <button (click)="clearFilters()" class="clr-btn">{{ getTranslation('Clear') }}</button>
      </div>
    </div>
      <!-- Table -->
      <div class="table-container">
        <div class="table-wrapper">
          <!-- Table container without scroll -->
          <div class="table-responsive">
            <table class="table">
              <thead >
                <tr>
                  
                  <th>{{ getTranslation('S.no') }}</th>
                  <th>{{ getTranslation('Task ID') }}</th>
                  <th>{{ getTranslation('Task Type') }}</th>
                  <th>{{ getTranslation('Status') }}</th>
                  <th>{{ getTranslation('Robot Name') }}</th>
                  <!-- <th>Source</th> -->
                  <th>{{ getTranslation('Destination') }}</th>
                  <th>{{ getTranslation('assign_robots') }}</th>    
                  <th>{{ getTranslation('Actions') }}</th>
                
                </tr>
              </thead>
              <tbody>
                <!-- Show No Data Row with image and message -->
               <tr *ngIf="paginatedData.length === 0">
                <td colspan="8" class="no-data">
                  <div class="no-data-container">
                    <img src="../assets/no-data.png" alt="No Data" class="no-data-image">
                    <p class="no-data-text">{{ getTranslation('No data found') }}</p>
                  </div>
                </td>
              </tr>
               <!-- Display table rows when data exists -->
                <tr *ngIf="paginatedData.length === 0">
                  <!-- <td colspan="6" class="iconTable">No data found</td> -->
                </tr>

    <!-- Display table rows -->
    <ng-container *ngFor="let item of paginatedData; index as i; trackBy: trackByTaskId">
      <tr [class.paused]="item.paused">
        <td>{{ item.sNo }}</td>
        <td>{{ item.taskId }}</td>
        <td>{{ getTranslation(item.taskType) }}</td>
        <td>{{ getTranslation(item.status) }}</td>
        <td>{{ item.roboName }}</td>
        <td>{{ item.sourceLocation }}</td>
        <td>
          <div style="display: flex; align-items: center; gap: 10px;">
            <ng-container *ngIf="item.status === 'NOTASSIGNED' || item.status === 'ACCEPTED'; else assigned">
              <button *ngIf="!item.showDropdown" (click)="toggleDropdown(item)" class="Assibtn-common Assibtn-cancel">
                {{ getTranslation('assign') }}
              </button>
              <ng-container *ngIf="item.showDropdown">
                <select [(ngModel)]="item.selectedRobot" style="height: 20px; border-bottom: 1px solid; background: transparent; border-radius: 5px;">
                  <option value="" disabled selected>{{ getTranslation('select') }}</option>
                  <option *ngFor="let robot of robotList" [value]="robot">{{ robot }}</option>
                </select>
                <div>
                  <button *ngIf="item.selectedRobot" (click)="assignRobot(item)" class="Assibtn-common Assibtn-cancel">
                    {{ getTranslation('confirm') }}
                  </button>
                  <button  (click)="cancelAssign(item)" class="btn-common btn-cancel">
                    {{ getTranslation('Cancel') }}
                  </button>
                </div>
              </ng-container>
            </ng-container>
            <ng-template #assigned>
              <ng-container *ngIf="item.status === 'ASSIGNED' || item.status === 'INPROGRESS' ; else inProgress">
                <button  *ngIf="!item.showReassDropdown" (click)="reassignRobot(item)" class="Assibtn-common Assibtn-cancel">
                  {{ getTranslation('re_assign') }}
                </button>
                <ng-container *ngIf="item.showReassDropdown">
                  <select [(ngModel)]="item.selectedRobot" style="height: 20px; border-bottom: 1px solid; background: transparent; border-radius: 5px;">
                    <option value="" disabled selected>{{ getTranslation('select') }}</option>
                    <option *ngFor="let robot of robotList" [value]="robot">{{ robot }}</option>
                  </select>
                  <div>
                    <button *ngIf="item.selectedRobot" (click)="assignRobot(item)" class="Assibtn-common Assibtn-cancel">
                      {{ getTranslation('confirm') }}
                    </button>
                    <button  (click)="cancelAssign(item)" class="btn-common btn-cancel">
                      {{ getTranslation('Cancel') }}
                    </button>
                  </div>
                </ng-container>
              </ng-container>
            </ng-template>
            <ng-template #inProgress>
              <span>{{ item.status }}</span>
            </ng-template>
          </div>
        </td>
        <td>
          <div class="switch-container">
            <button
              [ngClass]="{'btn-disabled': isDisabled(item.status), 'btn-cancel': !isDisabled(item.status)}"
              [disabled]="isDisabled(item.status)"
              class="btn-common"
              (click)="!isDisabled(item.status) && onCancel(item)">
              {{ getTranslation('Cancel') }}
            </button>  
            <button class="arrow-btn" (click)="toggleDetails(item)">
              <svg *ngIf="expandedRowMap[item.taskId]" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="18 15 12 9 6 15"></polyline> <!-- Up Arrow -->
              </svg>
              <svg *ngIf="!expandedRowMap[item.taskId]" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="6 9 12 15 18 9"></polyline> <!-- Down Arrow -->
              </svg>
            </button>
                         
          </div>
        </td>        
      </tr>
      <tr *ngIf="expandedRowMap[item.taskId]">
        <td colspan="8" class="expanded-row">
          <div class="card bg-white justify-content-center p-3">
            <div class="progress-container">
              <div *ngFor="let step of getSteps(item); let i = index" class="step">
                
                <div class="circle-container">
                  <div
                    class="circle"
                    [ngClass]="{
                      'completed': i < getCurrentStep(item),
                      'in-progress': i === getCurrentStep(item),
                      'pending': i > getCurrentStep(item)
                    }"
                  >
                    <img *ngIf="step.icon" [src]="step.icon" alt="{{ step.label }}" class="icon-img" />
                  </div>
                  <span class="step-label">{{ step.label }}</span>
                </div>
      
                <!-- Line only between circles -->
                <div *ngIf="i < getSteps(item).length - 1" class="line" [ngClass]="{'active': i < getCurrentStep(item)}"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      
      </ng-container>
            </tbody>
            </table>
          </div>
        </div>
      </div>
        <!-- Paginator -->
    <div  class="paginator-container" *ngIf="filteredTaskData.length > 0" >
      <mat-paginator
        [length]="filteredTaskData.length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10]"
        (page)="onPageChange($event)"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
      <!-- Export -->
      <div class="export-button-container">
        <button class="export-button" (click)="showPopup()">{{ getTranslation('Export') }}</button>
        <div *ngIf="isPopupVisible" class="export-popup">
          <div class="popup-content">
            <button class="close-button" (click)="onClose()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M12 10.586l4.95-4.95 1.414 1.414L13.414 12l4.95 4.95-1.414 1.414L12 13.414l-4.95 4.95-1.414-1.414L10.586 12 5.636 7.05l1.414-1.414L12 10.586z"
                />
              </svg>
            </button>
            <h3>{{ getTranslation('Select Format') }}</h3>
            <div class="button-container">
              <button (click)="exportData('csv')">{{ getTranslation('Export as CSV') }}</button>
              <button (click)="exportData('excel')">{{ getTranslation('Export as Excel') }}</button>
              <!-- <button (click)="exportData('pdf')">Export as PDF</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>