<!-- <app-sidenavbar></app-sidenavbar> -->
<!-- <app-loader></app-loader> -->
<div class="support-page-container">

<div class="header-section">
    <h1 class="header-title">Support</h1>
    <div class="subheader-container">
      <div class="subheader-text">Get the help you need</div>
      <img
        src="../../assets/icons/i-icon.svg"
        alt="Icon"
        class="subheader-icon"
      />
    </div>
  </div>

<div class="support-sections">
  <!-- <div class="support-section">
    <img src="assets/icons/help-center.svg" alt="Help Center">
    <h3>Help Center</h3>
    <p>Access articles and guides.</p>
  </div> -->

  <!-- <div class="support-section">
    <img src="assets/icons/contact-info.png" alt="Contact Info">
    <h3>Contact Info</h3>
    <p>Reach out to our team.</p>
  </div> -->

  <div class="support-section">
    <img src="assets/icons/folder.png" alt="Documentation">
    <h3>Documentation</h3>
    <p>Find technical docs and guides.</p>
  </div>

  <div class="support-section">
    <img src="assets/icons/training.png" alt="Training Resource">
    <h3>Training Resource</h3>
    <p>Explore training materials.</p>
    <div class="button" (click)="downloadDocument()" data-tooltip="Size: 20Mb">
      <div class="button-wrapper">
        <div class="text">Download</div>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17"></path>
          </svg>
        </span>
      </div>
    </div>
  </div>



  <div class="support-section">
    <img src="assets/icons/faq.png" alt="FAQ">
    <h3>FAQ</h3>
    <p>Frequently asked questions.</p>

    <div class="faq-section" (click)="goToFaq()">
        <!-- <img src="assets/icons/faq.svg" alt="FAQ Icon" /> -->
        <h3>Frequently Asked Questions (FAQ)</h3>
        <p>Find answers to commonly asked questions</p>
      </div>

  </div>

  <div class="support-section">
    <app-contactus></app-contactus>
  </div> <!--cut-->
        <!-- </div> -->

  <!-- </div> -->
</div>

<div class="social-media-container">
  <h3>Follow Us</h3>
  <div class="social-media-icons">
    <a href="#"><img src="assets/icons/facebook.png" alt="Facebook"></a>
    <a href="#"><img src="assets/icons/twitter.png" alt="Twitter"></a>
    <a href="#"><img src="assets/icons/linkedin.png" alt="LinkedIn"></a>
    <a href="#"><img src="assets/icons/instagram.png" alt="Instagram"></a>
  </div>