<div class="layout-container">
  <!-- <app-sidenavbar></app-sidenavbar> -->

  <app-loader></app-loader>
  <div class="content-container">
    <div class="main-content">
      <!-- Header section -->
      <div class="header-section">
        <h1 class="header-title">{{getTranslation(activeHeader)}}</h1>
        <div class="subheader-container">
          <div class="subheader-text">{{ getTranslation(activeSubHeader) }}</div>
          <img
            src="../../assets/icons/i-icon.svg"
            alt="Icon"
            class="subheader-icon"
          />
        </div>
      </div>

      <!-- search container -->
      <div class="search-filter-container">
        <!-- Search Bar -->
        <div class="search-box">
          <input
            type="text"
            (input)="onSearch($event)"
            placeholder="{{ getTranslation('Search For Logs...') }}"
          />
          <button class="search-btn">
            <img
              src="../../assets/icons/download-removebg-preview.png"
              alt="Search"
            />
          </button>
        </div>

        <!-- Options Container -->
        <!-- <div class="options-container">
          <div class="filter-options">
            <button
              [class.active]="activeFilter === 'today'"
              (click)="setActiveFilter('today')"
            >
              Today
            </button>
            <button
              [class.active]="activeFilter === 'week'"
              (click)="setActiveFilter('week')"
            >
              Week
            </button>
            <button
              [class.active]="activeFilter === 'month'"
              (click)="setActiveFilter('month')"
            >
              Month
            </button>
          </div>

          <div class="date-inputs">
            <label for="start-date" class="date-label"></label>
            <input
              type="date"
              id="start-date"
              (change)="onDateChange($event)"
              class="date-input"
            />

            <label for="end-date" class="date-label"></label>
            <input
              type="date"
              id="end-date"
              (change)="onDateChange($event)"
              class="date-input"
            />
          </div>
        </div> -->
      </div>
      <!--  -->

      <!-- Buttons -->
      <div class="button-container">
        <div class="button-frame">
          <div class="mb-4">
            <button
              class="button"
              [ngClass]="{ 'active-button': activeButton === 'task', 'transition-active': isTransitioning }"
              (click)="showTable('task')"
              (click)="setActiveButton('task')"
            >
            {{ getTranslation("Task") }}
            </button>
            <button
              class="button"
              [ngClass]="{ 'active-button': activeButton === 'robot', 'transition-active': isTransitioning }"
              (click)="showTable('robot')"
              (click)="setActiveButton('robot')"
            >
            {{ getTranslation("Robot") }}
            </button>
            <!-- <button
              class="button"
              [ngClass]="{
                'active-button': activeButton === 'fleet',
                'transition-active': isTransitioning
              }"
              (click)="showTable('fleet')"
              (click)="setActiveButton('fleet')"
            >
            {{ getTranslation("Fleet") }}
            </button> -->
          </div>
        </div>
      </div>

      <!-- Table -->
      <div class="table-container">
        <div class="table-wrapper">
          <div class="table-scrollable">
      <div class="table-container" >
        <!-- <div class="table-wrapper"> -->
          <!-- <div class="table-scrollable"> -->
            <!-- Task Table -->
            <table class="table" *ngIf="(currentTable === 'task' || 'robot')">
              <thead class="table-header">
                <tr>
                  <th class="table-header-cell">{{ getTranslation("Date and time") }}</th>
                  <th class="table-header-cell">{{ getTranslation("ID") }}</th>
                  <th class="table-header-cell">{{ getTranslation("Error code") }}</th>
                  <th class="table-header-cell">{{ getTranslation("Criticality") }}</th>
                  <th class="table-header-cell">{{ getTranslation("Description") }}</th>
                  <th class="table-header-cell">{{ getTranslation("duration") }}</th>
                </tr>
              </thead>

              <tbody
                class="table-body"
                *ngIf="(currentTable === 'task' || 'robot')"
              >
                <!-- Show No Data Row with image and message -->
                <tr *ngIf="paginatedData.length === 0">
                  <td colspan="8" class="no-data">
                    <div class="no-data-container">
                      <img
                        src="../../assets/no-data.svg"
                        alt="No Data"
                        class="no-data-image"
                      />
                      <p class="no-data-text">{{ getTranslation("No data found") }}</p>
                    </div>
                  </td>
                </tr>

                <!-- <tr *ngIf="paginatedData.length === 0">
            <td colspan="6" class="iconTable">No data found</td>
          </tr> -->
                <tr *ngFor=" let item of paginatedData; index as i; trackBy: trackByTaskId " [class.paused]="item.paused" >
                  <td class="table-cell">{{ item.timestamp }}</td>
                  <td class="table-cell">{{ item.id }}</td>
                  <td class="table-cell">{{ item.code }}</td>
                  <td class="table-cell">{{ item.criticality }}</td>
                  <td class="table-cell">{{ item.description }}</td>
                  <td class="table-cell">{{ item.duration }} min</td>
                </tr>
              </tbody>
              <!-- <tbody *ngIf="(currentTable === 'task' || 'robot') && isFleet == false">
                <tr *ngIf="isFleet == false">
                  <td colspan="8" class="no-data">
                    <div class="no-data-container">
                      <img
                        src="../../assets/simulation.svg"
                        alt="Simulation Mode"
                        class="no-data-image"
                      />
                      <p class="no-data-text">{{ getTranslation("Sim mode has been enabled") }}</p>
                    </div>
                  </td>
                </tr>
              </tbody> -->
            </table>
          </div>
        </div>
          <!-- </div> -->
        <!-- </div> -->
      </div>
      <!-- Paginator -->
      <div
        class="paginator-container"
        *ngIf="(currentTable === 'task' || 'robot') && filteredErrLogsData.length > 0 "
      >
        <mat-paginator
          [length]="filteredErrLogsData.length"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 50]"
          (page)="onPageChange()"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>



      <!-- Export -->
      <div class="export-button-container">
        <button class="export-button" (click)="showPopup()">{{ getTranslation("Export") }}</button>
        <div *ngIf="isPopupVisible" class="export-popup">
          <div class="popup-content">
            <button class="close-button" (click)="onClose()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M12 10.586l4.95-4.95 1.414 1.414L13.414 12l4.95 4.95-1.414 1.414L12 13.414l-4.95 4.95-1.414-1.414L10.586 12 5.636 7.05l1.414-1.414L12 10.586z"
                />
              </svg>
            </button>
            <h3>{{ getTranslation("Select Format") }}</h3>
            <div class="button-container">
              <button (click)="exportData('csv')">{{ getTranslation("Export as CSV") }}</button>
              <button (click)="exportData('excel')">{{ getTranslation("Export as Excel") }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
