.area-chart-container {
  position: sticky;
  display: flex;
  flex-direction: column;

  margin-bottom: 0.5%; /* Add or reduce bottom margin as needed */
  max-width: 63%;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 0.5% 0.5%; /* Reduced padding on top and bottom, keeping left and right */
  width: 100%;
  flex-grow: 1;
}
.apexcharts-menu-item:nth-child(1)::after {
  content: "Download as SVG";
}

.apexcharts-menu-item:nth-child(2)::after {
  content: "Download as PNG";
}

.apexcharts-menu-item:nth-child(3)::after {
  content: "Download as CSV";
}

/* Hide original text */
.apexcharts-menu-item span {
  display: none;
}
.custom-download-menu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 8px;
  list-style: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.custom-download-menu ul {
  padding: 0;
  margin: 0;
}
.custom-download-menu li {
  padding: 8px 12px;
  cursor: pointer;
}
.custom-download-menu li:hover {
  background: #f0f0f0;
}
.custom-toolbar-icon {
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}


/* Specific chart adjustments if needed */
.area-chart-container .apexcharts-canvas {
  padding-top: 0; /* Remove or reduce padding at the top */
  padding-bottom: 0; /* Remove or reduce padding at the bottom */
  margin-top: 0; /* Remove margin if any */
  margin-bottom: 0; /* Remove margin if any */
}

.area-chart-container .apexcharts-inner {
  margin-top: 0; /* Ensure no extra margin */
  margin-bottom: 0; /* Ensure no extra margin */
}

::ng-deep .apexcharts-toolbar {
  z-index: 0 !important;
}



  /* Container to center the dropdown */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
    background-color: #ffffff;
  }
  .dropdown-container {
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
    gap:20px;
    position: relative; /* Position relative for the dropdown arrow */
  }

  #myChart .apexcharts-toolbar {
    z-index: 0;
  }
  
  #overall .link {
    width: 150px;
  }
  #overall .item:hover{
    width: 150px;
  }
  .menu {
    font-size: 14px;
    font-family: "graphik", Arial,  sans-serif;
    line-height: 1.6;
    color: #ffffff; /* Default font color changed to violet */
    width: fit-content;
    display: flex;
    list-style: none;
  }
  
  .menu a {
    text-decoration: none;
    color: inherit;
    font-family: "graphik", Arial,  sans-serif;
    font-size: inherit;
    line-height: inherit;
  }
  
  .menu .link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 8px 24px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: red;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Button-like shadow */
    cursor: pointer;
    width: 200px; /* Fixed width for the dropdown button */
    text-align: center; /* Center the text inside the button */
  }
  
  .menu .link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DA2127; /* Violet color */
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  /* Arrow color */
  .menu .link svg {
    width: 14px;
    height: 14px;
    
    fill: #ffffff; /* Violet color for the arrow */
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .menu .item {
    position: relative;
    width: 100%; /* Ensure the width of the item is 100% to align with the button */
  }
  
  .menu .item .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    border-radius: 5px 5px 12px 12px;
    left: 0;
    height: 12rem;
    width: 100%;
    overflow-y: auto;
    border: 1px solid #cccccc;
    background: linear-gradient(45deg, #ffffff, #f0f0f0);
    /*Gradientbackground*/opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 100;
    pointer-events: none;
    list-style: none;
    width: 200px;
}

  .menu .item .submenu::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .menu .item .submenu::-webkit-scrollbar-track {
    background: transparent; /* Optional: track background */
  }
  
  .menu .item .submenu::-webkit-scrollbar-thumb {
    background-color: #FF7373;
    /*Scrollbarcolor*/border-radius: 12px;
    border: 2px solid transparent;
    background-clip: content-box;
}
  
  
  .menu .item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
    border-top: transparent;
    border-color: #DA2127; /* Violet color */
    width: 200px; /* Ensure the dropdown width matches the button's width */
  }

  #overall .item:hover .submenu{
    width: 150px;
  }
  
  .menu .item:hover .link {
    color: #ffffff;
    border-radius: 16px 16px 5px 5px;
  }
  
  .menu .item:hover .link::after {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .menu .item:hover .link svg {
    fill: #ffffff;
    transform: rotate(-180deg);
  }
  
  .submenu .submenu-item {
    width: 100%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-link {
    display: block;
    padding: 12px 24px;
    width: 100%;
    position: relative;
    text-align: left; /* Aligning the dropdown data to the left */
    color: #DA2127; /* Violet font color for dropdown items */
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    box-sizing: border-box; /* Include padding in the element's total width */
    width: 100%; /* Match the width of the parent item */
  }
  
  .submenu .submenu-item:last-child .submenu-link {
    border-bottom: none;
  }
  
  .submenu .submenu-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    background-color: #DA2127;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-link:hover:before {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .submenu .submenu-link:hover {
    color: #ffffff; /* White text color on hover */
  }
  
  
 /* Reset default browser focus styles */
.input:focus {
  outline: none;
  box-shadow: none;
}

.time-button-container {
  z-index: 0; /* Ensure the button is above other elements */
  position: relative; /* Ensure it stays in place */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 15px;
  background-color: #dbdbdb; /* Light grey background for the container */
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.tabs {
  display: flex;
  gap: 10px;
}

.input {
  display: none;
}

.label {
  padding: 5px 20px;
  background-color: rgb(160, 160, 160);
  color: white;
  cursor: pointer;
  font-family:"graphik", Arial, sans-serif;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

/* Apply red background when radio button is selected */
.input:checked + .label {
  background-color: red;
}

.svg-button {
  background-color: black;
}

::ng-deep .apexcharts-legend-text{
  font-family: "graphik", Arial,  sans-serif !important;
}
