.form-control, .form2, .form3 {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2%;
  margin-top: 1%;
  padding-top: 2%;
  margin-bottom: 0px;
}
.clearbtn{
  margin-left: 5px;
}
.text-danger{
    margin-left: 9rem;
    bottom: .5rem;
    position: relative;
    color: red;
}

.field {
  margin-bottom: 15px;
  display: flex;
}

.centers{
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

/* Button styling */
.button {
  /* width: 70%; */
  height: 31px;
  padding: 0.5rem 1rem;
  margin-top: 20rem;
  font-size: 0.8rem;
  font-family: "graphik", Arial,  sans-serif;
}

/* Button class specific to p-button-danger */
::ng-deep .p-button.p-button-danger {
  /* width: 70% !important; */
  height: 31px !important;
  /* margin-top: 19rem; */
}

::ng-deep .p-button {
  padding: 0.5rem 1rem !important;
  font-size: 0.7rem !important;
  font-family: "graphik", Arial,  sans-serif;
}

label {
  /* font-weight: bold; */
  margin-right: 10px;
}

/* input {
  width: 100%;
} */

::ng-deep .p-dropdown{
  width: 10rem;
  /* height: 3rem; */
}

input[type="text"],
input[type="number"] {
  /* padding: 8px; */
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 10rem;
}

br {
  display: none;
}

.container1{
  border: 1px solid #000;
  border-radius: 15px;
}

::ng-deep{
  .p-button.p-button-danger{
      width: 70% !important;
      height: 31px !important;
  }
  .p-button{
    padding: 0.5rem .1rem !important;
    font-size: .8rem !important;
    font-family: "graphik", Arial,  sans-serif;
  }
}

.button{
  width: 70%;
  height: 31px;
  padding: 0.5rem .1rem;
  font-size: .8rem;
  font-family: "graphik", Arial,  sans-serif;

}
