<div class="container1">
  <div class="content-fluid1">
    <div class="general">
      <form #generalForm="ngForm" novalidate>
        <div class="container">
          <!-- Fleet Server Mode -->
          <div class="form-control">
            <div class="validate">
              <div class="field">
                <label for="fleetServerMode">Fleet Server Mode :  </label>
                <input
                  class="input"
                  type="number"
                  min="0"
                  size="1"
                  maxlength="1"
                  max="4"
                  placeholder="Enter"
                  style="width: 10rem;"
                  [(ngModel)]="formData.fleetServerMode"
                  name="fleetServerMode"
                  pInputText
                  required
                />
              </div>
              <div *ngIf=" generalForm.controls['fleetServerMode'].invalid && generalForm.controls['fleetServerMode'].touched">
                <small class="text-danger"> *Fleet Server Mode is required</small>
              </div>
            </div>
            <!-- Server IP -->
            <div class="validate">
              <div class="field">
                <label for="serverIP" style="margin-right: 5rem;">Server IP: </label>
                <input
                  type="text"
                  placeholder="Enter IP"
                  minlength="7"
                  maxlength="15"
                  size="15"
                  [(ngModel)]="formData.serverIP"
                  name="serverIP"
                  pInputText
                  required
                  pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$"
                  #serverIPInput="ngModel"
                />
              </div>
              
              <div *ngIf="serverIPInput.invalid && serverIPInput.touched && generalForm.controls['serverIP'].invalid && generalForm.controls['serverIP'].touched">
                <small class="text-danger"> *Valid Server IP is required</small>
              </div>
            </div>    

            <!-- Server Port -->
            <div class="validate">
              <div class="field">
                <label for="serverPort" style="margin-right: 3.8rem">Server Port :  </label>
                <input
                  class="input"
                  placeholder="Enter Port"
                  type="number"
                  min="1000"
                  max="9999"
                  [(ngModel)]="formData.serverPort"
                  name="serverPort"
                  pInputText
                  required
                />
              </div>
              <div *ngIf="generalForm.controls['serverPort'].invalid && generalForm.controls['serverPort'].touched">
                <small class="text-danger"> *Server Port is required.</small>
              </div>
            </div>
          </div>

          <!-- Database IP and Type -->
          <div class="form2">
            <div class="validate">
              <div class="field">
                <label for="databaseIp" style="margin-right: 2rem;">Database IP: </label>
                <input
                  type="text"
                  placeholder="Enter IP"
                  minlength="7"
                  maxlength="50"
                  size="15"
                  style="width: 10rem;"
                  #databaseIpInput="ngModel"
                  [(ngModel)]="formData.databaseIp"
                  name="databaseIp"
                  pInputText
                  required
                  pattern="^mongodb:\/\/([a-zA-Z0-9._-]+|\[[a-zA-Z0-9:]+\])(:[0-9]+)?$" 
                />
              </div>
              <div *ngIf="databaseIpInput.invalid && databaseIpInput.touched && generalForm.controls['databaseIp'].invalid && generalForm.controls['databaseIp'].touched">
                <small class="text-danger">
                  *A valid Database IP is required
                </small>
              </div>
            </div>
            
            <!-- Dropdown for Database Type -->
            <div class="validate">
              <div class="field">
                <label for="selectedDb">Database Type : </label><br />
                <p-dropdown
                  appendTo="body"
                  [options]="dtype"
                  [(ngModel)]="selectedDb"
                  name="selectedDb"
                  optionLabel="name"
                  placeholder="Select"
                  required
                ></p-dropdown>
              </div>
              <div *ngIf="generalForm.submitted && !selectedDb && generalForm.touched">
                <small class="text-danger"> *Database Type is required.</small>
              </div>
            </div>
          </div>

          <!-- Database Name and Robot Manager -->
          <div class="form3">
            <div class="validate">
              <div class="field">
                <label for="databaseName" style="margin-right: 3rem;">Database Name : </label>
                <input
                  type="text"
                  placeholder="Enter DB name"
                  style="width: 10rem;"
                  [(ngModel)]="formData.databaseName"
                  name="databaseName"
                  pInputText
                  required
                />
              </div>
              <!-- <div *ngIf="generalForm.controls['databaseName'].invalid && generalForm.controls['databaseName'].touched"> -->

              <div *ngIf="generalForm.controls['databaseName'].invalid && generalForm.controls['databaseName'].touched">
                <small class="text-danger"> *Database Name is required.</small>
              </div>
            </div>

            <!-- Dropdown for Robot Manager -->
            <div class="validate">
              <div class="field">
                <label for="selectedRoboManagerType">Robot Manager Type : </label><br />
                <p-dropdown
                  appendTo="body"
                  [options]="robotManagerType"
                  [(ngModel)]="selectedRoboManagerType"
                  name="selectedRoboManagerType"
                  optionLabel="name"
                  placeholder="Select"
                  required
                ></p-dropdown>
              </div>
              <div *ngIf="generalForm.submitted && !selectedRoboManagerType && generalForm.touched">
                <small class="text-danger"> *Robot Manager Type is required.</small>
              </div>
            </div>
          </div>
          
        </div>
        <!-- Submit Button -->
        <div class="field mt-1 centers">
          <p-button
            label="Submit"
            type="submit"
            class="block mt-1 pt-2"
            styleClass="p-button-danger p-button1"
            [disabled]="generalForm.invalid"
            (onClick)="saveParams()"
          ></p-button>
          <p-button
          label="Clear"
          class="clearbtn"
          styleClass="p-button-secondary"
          (onClick)="generalForm.resetForm()"
        ></p-button>
        </div>
      </form>
    </div>
  </div>
</div>
