<div class="container1">
    <div class="content-fluid1">
      <div class="general">
        <!-- <form> -->
          <div class="container">
            <div class="form-control">
              <div class="head1">
                <div class="field">
                  <label for="name">Fleet Planner Type :  </label>
                  <!-- <input class="input" type=" minlength="7" maxlength="15" size="15"  placeholder="Enter" pInputText required/> -->
                  <p-dropdown appendTo="body" [options]="dtype" [(ngModel)]="selectedDb" optionLabel="name" placeholder="Select"></p-dropdown>
                  <label for="name" style="margin-left: 8rem;">External Inteface Type : </label>
                  <input type="text" placeholder="Enter IP"  pInputText/>
                </div>
              </div>
              <div class="head2" style="width: -webkit-fill-available;">
                <span><b>Agent Parameters : </b> </span>
                <div class="field2">
                  <label for="name" style="margin-right: 5.5rem;">MAX_LINEAR_VELOCITY :  </label>
                  <input class="input" type="number" minlength="7" maxlength="15" size="15"  placeholder="Enter" pInputText required/>

                  <label for="name" style="margin-left: 65px;">MAX_ROBOTS_COUNT : </label>
                  <input type="text" placeholder="Enter IP"  pInputText/>
                </div>
                <div class="form2">
                  <label for="name" style="margin-right: 3.9rem;">SAFE_THRESHOLD :  </label>
                  <input class="input" type="number" minlength="7" maxlength="15" size="15"  placeholder="Enter" pInputText required/>

                  <label for="name">LOOK_AHEAD :  </label>
                  <input class="input" type="number" minlength="7" maxlength="15" size="15"  placeholder="Enter" pInputText required/>
                </div>
                <div class="form2">
                  <label for="name">MAX_POINTS_TO_RESERVE :  </label>
                  <input class="input" type="number" minlength="7" maxlength="15" size="15"  placeholder="Enter" pInputText required/>

                  <label for="name">FIELD_OF_VIEW :  </label>
                  <input class="input" type="number" minlength="7" maxlength="15" size="15"  placeholder="Enter" pInputText required/>
                </div>
              </div>
              <!-- <div class="radio">
                <h4><b>Robot Communications:</b></h4>
                  <h4>Select an option:</h4>
                  <div class="category-container">
                    <div *ngFor="let category of categories" class="field-checkbox">
                      <p-radioButton
                        [inputId]="category.key"
                        name="category"
                        [value]="category"
                        [(ngModel)]="selectedCategory">
                      </p-radioButton>
                      <label [for]="category.key" class="category-label">
                        {{ category.name }}
                      </label>
                    </div>
                  </div>

            </div> -->
          </div>
          <div class=" mt-1">
            <p-button
              label="Submit"
              type="submit"
              class="block mt-1 pt-2 "
              icon="pi pi-check-circle"
              styleClass="p-button-danger p-button1"
            ></p-button>
          </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
