
/* sidenavbar.css */

/* styles.css or styles.scss */


.sidebar {
    position: fixed; /* or relative based on your layout */
    height: 100%;
    width: 65px;
    background-color: #FF7373;
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    transition: width 0.2s ease-in-out;
    overflow: hidden; /* To hide the labels when not hovered */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10000;
  }
/* CSS for the active tab */
  .active {
    background-color: #e0d6d672; /* Optional: Add background color if needed */
    border-radius: 20px;

    color: white; /* Change the text color to white */
  }

  /* Style the label inside the active tab */
  .active .label {
    color: white;
    padding: 0px 15px 0px 18px; /* Keep your desired padding */
    display: block;
    width: 130%; /* Increase the width as needed */
    margin-left: -10%; /* Center it by shifting left if necessary */
    box-sizing: border-box;
}


  .sidebar:hover {
    width: 220px;
  }

  .wifi-icon {
    width: 24px; /* Adjust size for your icon */
    height: 24px;
    margin-right: 8px;
  }



  .fleet-status {
    display: inline-block; /* Make it a block-level element */
    padding: 5px 10px; /* Add padding for a button-like appearance */
    border-radius: 5px; /* Rounded corners */
    font-size: 1rem; /* Font size */
    font-weight: bold; /* Bold text for visibility */
    font-family: "graphik", Arial,  sans-serif;
    margin-right: 2rem; /* Space between status and other elements */
    cursor: default; /* Change cursor to indicate non-clickable */
    text-align: center; /* Center align the text */

  }

  .fleet-up {
    background-color: rgba(0, 255, 0, 0.2); /* Light green background for Fleet Up */
    color: rgb(5, 206, 5); /* Green text color */
  }

  .fleet-down {
    background-color: rgba(249, 111, 111, 0.2); /* Light gray background for Fleet Down */
    color: rgb(236, 6, 6); /* Gray text color */
    box-shadow: 0 0 5px rgba(255, 35, 35, 0.5); /* Heavy box shadow */
  }



  /* notification */

  .notification-popup {
    position: absolute;
    top: 52px;

    right: 10px;
    background-color: rgba(243, 243, 243, 0.301);
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff;
    background-color: rgba(243, 243, 243, 0.301);
    backdrop-filter: blur(10px);
    padding: 5px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    z-index: 1000;
    width: 600px;
    height: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Heavy box shadow */
    display: none; /* Hidden by default */
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

/* Responsive styles for smaller screens */
@media (max-width: 1200px) {
    .notification-popup {
        width: 600px;
        right: 5px;
    }
}

@media (max-width: 900px) {
    .notification-popup {
        width: 450px;
        right: 5px;
    }
}

@media (max-width: 600px) {
    .notification-popup {
        width: 90%;  /* Takes up 90% of the screen width */
        right: 5%;
        left: 5%;
        max-height: 70vh; /* Further limit height for small screens */
    }
}

@media (max-width: 400px) {
    .notification-popup {
        width: 95%; /* Even more space for very small screens */
        right: 2.5%;
        left: 2.5%;
    }
}

.notification-header {
    display: flex;
    justify-content: space-between; /* Align items to the start and end */
    align-items: center; /* Center vertically */
}

.scrollable-container {
  max-height: 500px; /* Set a maximum height for the scrollable area */
  overflow-y: auto;  /* Allows scrolling within this container */
}

.scrollable-container ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.scrollable-container li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.button-container {
    display: flex; /* Use flexbox for the button container */
    gap: 20px; /* Space between the buttons */
}

.clear-all-btn {
    background-color: #ff3333;
    color: white;
    border: none;
    font-size: 14px;
    font-family: "graphik", Arial,  sans-serif;
    padding: 4px 18px;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clear-all-btn:hover {
    background-color: #d92626;
}

/* Close Button Styles */
.close-button {
    background-color: white;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0px;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button svg {
    width: 20px;
    height: 20px;
    fill: red; /* Color for the close icon */
}

.close-button:hover {
    background-color: #da2127;
}

.close-button:hover svg {
    fill: white; /* Change color on hover */
}

.notification-popup.show {
    display: block;
    opacity: 1;
    transform: translateY(0); /* Slide in from above */
}

.notification-popup h3 {
    font-size: 28px;
    font-weight: 600;
    font-family: "graphik", Arial,  sans-serif;
    color: #f10909;
}

.notification-popup ul {
    list-style-type: none;
    padding: 5px;
}

.notification-popup li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-left: 5px solid #ff3333; /* Light blue border */
    animation: fadeIn 0.5s ease-in-out; /* Animate list items */
}

/* Style for notification labels */
.notification-label {
    font-weight: bold;
    font-family: "graphik", Arial,  sans-serif;
    margin-right: 10px;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Style for notification messages with ellipsis */
.notification-message {

    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.alert-red {
    background-color: #f8d7da;
    color: #d41529;
}

.alert-yellow {
    background-color: #fff3cd;
    color: #f4bb10;
}

.alert-green {
    background-color: #d4edda;
    color: #14e445;
}



  /* Close Button */
  .notification-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: "graphik", Arial,  sans-serif;
    color: #666;
    transition: color 0.2s;
  }

  .notification-popup .close-btn:hover {
    color: #ff5252; /* Red hover effect */
  }

  /* Fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* No notifications styling */
  .no-notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    flex-direction: column;
  }

  .no-notifications svg {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  .no-notifications span {
    font-size: 20px;
    font-family: "graphik", Arial,  sans-serif;
    color: #2b2828;
  }

  .topbar {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0.25px 6px #FF7373;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center items vertically */
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    z-index: 1; /* Ensure it's above the canvas */
  }
/* .sidebar.enlarged .Logo {
  content: url("../../assets/MothersonEN_logo.svg");
  border-radius: 0;
  padding: 0px 5px;
} */

  .TopbarContents {
    display: flex;
    align-items: center;
  }

  .username {
    font-family: "graphik", Arial,  sans-serif;
    font-weight: bold;
  }

  .topbar img {
    margin: 0 10px;
    /* filter: drop-shadow(20px 5px 5px 5px 5px rgba(52, 49, 49, 0.308)); */
  }

  .Profile {
    display: flex;
    align-items: center;
    padding-right: 40px;
  }

  .Profile img {
    margin-right: 2px;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
  }

  /* .profile-info p {
    margin: 0;
    font-size: 1.0rem;

  } */

  /* Styling for the username */
.profile-info .username {
  font-size: 1.0rem;
  font-weight: bold;
  font-family: "graphik", Arial,  sans-serif;
  color: #333;
  margin-bottom: 0rem;
  text-transform: capitalize; /* Ensures the first letter is capitalized */
}

/* Styling for the userrole */
.profile-info .userrole {
  font-size: 0.8rem;
  font-weight: normal;
  font-family: "graphik", Arial,  sans-serif;
  color: #666;
}

  .Logo {
    height: 45px;
    width: 45px;
    border-radius: 8px;
    /* margin: 15px 0 0 10px; */

  }

  .logo2{
    height: 45px;
    border-radius: 15px !important;
  }

  .logo2{
    opacity: 0;
  }

  .logo-container{
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .sidebar:hover .logo2{
    opacity: 1;
  }
  .sidebar:hover .Logo{
    opacity: 0;
    display: none;
  }

  .icons {
    margin: 25px 0 0 10px;
    width: 190px;
    /* filter: drop-shadow(10px 10px 5px rgba(52, 49, 49, 0.308)); */
  }

  .icon1, .icon2, .icon3, .icon4, .icon5, .icon6,.icon7,.icon8{
    display: flex;
    align-items: center;
    padding: 8px 0 10px 0;
    margin-bottom: 15px;
    transition: margin-left 0.3s ease;
    cursor: pointer;
  }
app-fullscreen-button{
    margin-right: 20px;
  }
  .icon1:hover, .icon2:hover, .icon3:hover, .icon4:hover, .icon5:hover, .icon6:hover, .icon7:hover, .icon8:hover {
    border-bottom: 1px solid white;
    border-radius: 10px;
  }

  .icon1 img, .icon2 img, .icon3 img, .icon4 img, .icon5 img,.icon6 img, .icon7 img, .icon8 img {
    margin-right: 10px;
    margin-left: 10px;
  }
  .logout-icon img{
    margin-right: 10px;
    margin-left: 5px;
  }
  .icons .label {
    display: none;
    white-space: nowrap; /* Prevents text from wrapping */
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  .sidebar:hover .icons .label {
    display: block;
    opacity: 1;
    font-size: 0.90rem;
    font-weight: bolder;
    font-family: "graphik", Arial,  sans-serif;
    color: #ffffff;
  }

  .Outlogo {
    margin: 0;
  }

  .Nlogo {
    margin: 10px 5px 5px 1200px; /* Adjust margin as needed */
  }

  .logout-icon {
    margin: auto 0 20px 10px; /* Center vertically and add bottom margin */
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;
    cursor: pointer;
    transition: margin 0.5s ease;
  }

  .logout-icon:hover {
    background-color: #9115154e;
    border-radius: 30px;
  }
  .follow {
      border-radius: 15px;
      padding: 0 20px; /* Simplified padding */
      height: 35px;
  }

  .stats span {
      font-size: 29px;
      font-family: "graphik", Arial,  sans-serif;
  }

  .timer {
    background-color: rgb(160, 160, 160); /* Grey background */
    color: white; /* White font color */
    font-family: "graphik", Arial,  sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 2rem;

    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    text-align: center; /* Center text */
  }

/* profile */
.Profile {
  display: flex;
  align-items: center;
  position: relative;
}

.PPicon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}

.profile-info {
  margin-left: 10px;
}

.username {
  font-size: 16px;
  font-weight: bold;
  font-family: "graphik", Arial,  sans-serif;
  margin: 0;
}

.userrole {
  font-size: 14px;
  color: #555;
  margin: 0;
}

/* Profile Popup Styling */
.profile-popup {
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  z-index: 10;
}

.profile-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.popup-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.popup-info {
  margin-left: 10px;
}

.popup-username {
  font-size: 16px;
  font-weight: bold;
  font-family: "graphik", Arial,  sans-serif;
}

.popup-userrole {
  font-size: 14px;
  color: #777;
}

.popup-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.profile-btn,
.logout-btn {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: "graphik", Arial,  sans-serif;

  cursor: pointer;
}

.profile-btn {
  background-color: #007bff;
  color: white;
}

.logout-btn {
  background-color: #dc3545;
  color: white;
}

.profile-btn:hover,
.logout-btn:hover {
  opacity: 0.9;
}

.language-selector {
  position: relative;
}

.language-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem; /* Equivalent to px-2 py-0 */
  cursor: pointer;
  transition: box-shadow 0.3s;
  gap: 20px;
}

/* .language-toggle:hover {
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.25);
} */

.language-info {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Equivalent to gap-10 */
}

.flag-icon {
  border-radius: 2px; /* Rounded corners */
}

.flag-name {
  font-weight: 600; /* Bold text */
  font-family:"graphik", Arial, sans-serif;
  margin-top: 0.8rem; /* Adjust margin for centering */
}

.arrow-icon {
  transition: transform 0.3s; /* Smooth rotation */
}

.rotate {
  transform: rotate(180deg); /* Rotate the arrow */
}

.language-dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Space between dropdown options */
  padding: 0.75rem; /* Equivalent to p-3 */
  background-color: #f9f9f9; /* Background color */
  position: absolute;
  top: 44px; /* Adjust positioning */
  left: 0;
  border: 2px solid #ccc; /* Border for dropdown */
  border-radius: 8px; /* Rounded corners */
  z-index: 1000; /* Ensure it appears above other elements */
}

.language-option {
  padding: 0.5rem; /* Padding for option */
  border-radius: 5px; /* Rounded corners for options */
  transition: background-color 0.2s; /* Smooth background color change */
}

.language-option:hover {
  background-color: #f0f0f0; /* Hover effect */
}

.option-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem; /* Space between flag and name */
}





/* profile */
