<div class="topbar" >
  <div class="TopbarContents">
  <app-loader></app-loader>
    <!-- <div class="timer">
      <app-timer></app-timer>
    </div> -->

    <!-- Fleet Status Indicator -->
    <div class="fleet-status" [ngClass]="{'fleet-up': (isFleetUp && isAmqpUp), 'fleet-down': !(isFleetUp && isAmqpUp)}">
      <img [src]="(isFleetUp && isAmqpUp) ? '../../assets/Liveoff.svg' : '../../assets/Liveon.svg'">
      {{ isFleetUp ? 'LIVE' : 'LIVE' }}
    </div>
    
    <button class="indication-button" [ngClass]="buttonClass" >
      <!-- <img [src]="iconUrl" class="icon" alt="Icon" /> -->
      <span>{{ buttonLabel }}</span>
    </button>

    <app-fullscreen-button></app-fullscreen-button>
  <div class="notification">
    <img alt="" src="../../assets/icons/Notification_icon.svg" routerLink="/notification" (click)="showNotification()" class="Nlogo" />
  </div>
    <!-- <div class="language-selector">
      <div class="language-toggle" (click)="languageChange()">
        <span class="language-info">
          <!-- <div [(innerHTML)]="flagSvg" class="flag-icon"></div>
          <p class="flag-name">{{flagName}}</p> -->
        <!-- </span>
        <svg [ngClass]="{'rotate': languageArrowState}" class="arrow-icon" width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.75505 8.33739L0 2.58245L1.91834 0.664062L5.75505 4.50076L9.59169 0.664062L11.51 2.58245L5.75505 8.33739Z" fill="black"/>
        </svg>
      </div> -->
      <!-- language dropdown -->


      <!-- <div *ngIf="languageArrowState" class="language-dropdown">
        <div *ngFor="let flag of flags; trackBy: trackFlag" class="language-option" (click)="changeFlag(flag.order)">
          <span class="option-info">
            <div [(innerHTML)]="flag.flagComp" class="flag-icon"></div>
            <p class="flag-name">{{flag.nameTag}}</p>
          </span>
        </div>
      </div> -->
    <!-- </div>  -->

    <div class="Profile" (click)="toggleProfilePopup()">
      <img
        src="../../assets/icons/profile.png"
        alt="profile pic"
        routerLink="/profile"
        class="PPicon"        
      />
      <div class="profile-info">
        <p class="username">{{ username }}</p>
        <p class="userrole">{{ userrole }}</p>
      </div>
    </div>
  </div>
</div>
<div class="Profile-popup" *ngIf="showProfilePopup" > 
  <div>
  <p class="msg">Hello, {{ username }}</p>
  </div>
  <div class="timer">
    <app-timer></app-timer>
  </div>
  <div class="logoutIcon" (click)="showLogoutConfirmation = true">
    <img src="../../assets/icons/Logout.svg " alt="" class="Outlogo" />
    <span class="logoutlabel">Logout</span>
  </div>
</div>
<!-- side bar -->
<div class="Sidenav">
  <div class="sidebar">
    <div class="logo-container">
      <img src="../../assets/Motherson_full_logo.jpeg" alt="" class="Logo" />
      <img src="../../assets/shared image.jpeg" alt="" class="logo2">
    </div>

    <div class="icons">
      <div *ngIf="userManagementData.generalPermissions.dashboard" class="icon1" routerLink="/dashboard" routerLinkActive="active">
        <img src="../../assets/icons/dashboard_icon copy.svg" alt="" class="Dlogo" />
        <span class="label">Dashboard</span>
      </div>

      <div *ngIf="userManagementData.generalPermissions.statistics" class="icon2" routerLink="/statistics" routerLinkActive="active">
        <img src="../../assets/icons/Statistics.svg" alt="" class="Slogo" />
        <span class="label">Statistics</span>
      </div>

      <div *ngIf="userManagementData.generalPermissions.robots" class="icon3" routerLink="/robots" routerLinkActive="active">
        <img src="../../assets/icons/Statistics_icon.svg" alt="" class="Slogo" />
        <span class="label">Robots</span>
      </div>

      <!-- cookieValue.role !== "User" -->
      @if (cookieValue.role) {
      <div  class="icon4" routerLink="/configuration" routerLinkActive="active">
        <img src="../../assets/icons/Configuration_icons.svg" alt="" class="Clogo" />
        <span class="label">Configuration</span>
      </div>
    }

      <div *ngIf="userManagementData.generalPermissions.errors" class="icon5" routerLink="/Reports" routerLinkActive="active">
        <img src="../../assets/icons/Logs_icons.svg" alt="" class="Llogo" />
        <span class="label">Error logs</span>
      </div>
      <div *ngIf="userManagementData.generalPermissions.tasks" class="icon6" routerLink="/tasks" routerLinkActive="active">
        <img src="../../assets/icons/Tasks_icons.svg" alt="" class="Llogo" />
        <span class="label">Tasks</span>
      </div>

      <!-- (cookieValue.role === "Administrator") -->
      @if (cookieValue.role) { 
        <div *ngIf="userManagementData.generalPermissions.userManagement" class="icon7" routerLink="/usermanagement" routerLinkActive="active">
          <img src="../../assets/icons/Usermanagement_icons.svg" alt="" class="Llogo" />
          <span class="label">User Management</span>
        </div>
      }

      <!-- <div class="icon8" routerLink="/support" routerLinkActive="active">
        <img src="../../assets/icons/support.svg" alt=""  class="Llogo" />
        <span class="label">Support</span>
      </div> -->
    </div>

    <div class="icons logout-icon" (click)="showLogoutConfirmation = true">
      <img src="../../assets/icons/Logout_icon.svg " alt="" class="Outlogo" />
      <span class="label">Logout</span>
    </div>
  </div>
</div>

<!-- notification popup -->

<div class="notification-popup" [ngClass]="{ 'show': isNotificationVisible }" (mouseenter)="cancelAutoClose()" (mouseleave)="startAutoClose()">
  <!-- Clear All Button -->
  <div class="notification-header">
    <h3>Notifications</h3>
    <div class="button-container">
      <button class="close-button" (click)="closeNotification()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            d="M12 10.586l4.95-4.95 1.414 1.414L13.414 12l4.95 4.95-1.414 1.414L12 13.414l-4.95 4.95-1.414-1.414L10.586 12 5.636 7.05l1.414-1.414L12 10.586z"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- Scrollable notification container -->
  <div class="scrollable-container">
    <ng-container *ngIf="notifications && notifications.length > 0; else noNotifications">
      <ul>
        <li *ngFor="let notification of notifications" [ngClass]="getNotificationClass(notification.type)">
          <span class="notification-label">{{ notification.label }}</span>
          <span class="notification-message">{{ notification.message }}</span>
        </li>
      </ul>
    </ng-container>
  </div>

  <ng-template #noNotifications>
    <div class="no-notifications">
      <img src="../../assets/icons/NoNoti.svg">
      <h2>No notifications to show</h2>
    </div>
  </ng-template>
<div class="Clr-BTN" *ngIf="notifications && notifications.length > 0">
  <button class="clear-all-btn" (click)="clearAllNotifications()">Clear</button>
</div>
</div>

<div *ngIf="showLogoutConfirmation" class="confirmation-popup-overlay">
  <div class="confirmation-popup">
    <div class="Img">
    <img class="WarningImg" src="../../assets/Warning.svg">
    <!-- <img class="SWImg" src="../../assets/shared image.jpeg"> -->
   </div>
    <p class="P1">Are you sure?</p>
    <p class="P2">Are you sure do you want to logout?</p>
    <div class="button-container">
      <button class="confirm-btn" (click)="logout()">Confirm</button>
      <button class="cancel-btn" (click)="showLogoutConfirmation = false">Cancel</button>
    </div>
  </div>
</div>