/* sidenavbar.css */
.sidebar {
    height: 100%;
    width: 65px;
    background-color: #FF7373;
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    transition: width 0.2s ease-in-out;
    overflow: hidden; /* To hide the labels when not hovered */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1; /* Ensure it's above the canvas */
  }
/* CSS for the active tab */
  .active {
    background-color: #e0d6d672; /* Optional: Add background color if needed */
    border-radius: 20px;
    color: white; /* Change the text color to white */
  }

  /* Style the label inside the active tab */
  .active .label {
    color: white;
  }


  .sidebar:hover {
    width: 220px;
  }
  
  .notification-popup {
    position: absolute;
    top: 52px; /* Adjust according to your layout */
    right: 190px; /* Adjust according to your layout */
    background-color: white;
    border: 1px solid #ffffff;
    box-shadow: 0px 0.25px 6px #FF7373;
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1000; /* Ensure it is on top */
  }
  
  .Profile-popup {
    position: absolute;
    top: 52px; /* Adjust according to your layout */
    right: 30px; /* Adjust according to your layout */
    background-color: white;
    border: 1px solid #ffffff;
    box-shadow: 0px 0.25px 6px #FF7373;
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1000; /* Ensure it is on top */
  }
  
  .topbar {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0.25px 6px #FF7373;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center items vertically */
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    z-index: 1; /* Ensure it's above the canvas */
  }
/* .sidebar.enlarged .Logo {
  content: url("../../assets/MothersonEN_logo.svg");
  border-radius: 0;
  padding: 0px 5px;
} */

  .TopbarContents {
    display: flex;
    align-items: center;
  }
  
  .username {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .topbar img {
    margin: 0 10px;
    /* filter: drop-shadow(20px 5px 5px 5px 5px rgba(52, 49, 49, 0.308)); */
  }
  
  .Profile {
    display: flex;
    align-items: center;
    padding-right: 40px;
  }
  
  .Profile img {
    margin-right: 2px;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
  }
  
  .profile-info p {
    margin: 0;
    font-size: 0.75rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .Logo {
    height: 45px;
    width: 45px;
    margin: 15px 0 0 10px;
    border-radius: 15px;
  }
  
  .icons {
    margin: 25px 0 0 10px;
    width: 180px;
    /* filter: drop-shadow(10px 10px 5px rgba(52, 49, 49, 0.308)); */
  }
  
  .icon1, .icon2, .icon3, .icon4, .icon5, .icon6,.icon7,.icon8{
    display: flex;
    align-items: center;
    padding: 8px 0 10px 0;
    margin-bottom: 15px;
    transition: margin-left 0.3s ease;
    cursor: pointer;
  }
  app-fullscreen-button{
    margin-right: 20px;
  }
  .icon1:hover, .icon2:hover, .icon3:hover, .icon4:hover, .icon5:hover, .icon6:hover, .icon7:hover, .icon8:hover {
    border-bottom: 1px solid white;
    border-radius: 10px;
  }
  
  .icon1 img, .icon2 img, .icon3 img, .icon4 img, .icon5 img,.icon6 img, .icon7 img, .icon8 img {
    margin-right: 10px;
    margin-left: 10px;
  }
  .logout-icon img{
    margin-right: 10px;
    margin-left: 5px;
  }
  .icons .label {
    display: none;
    white-space: nowrap; /* Prevents text from wrapping */
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  
  .sidebar:hover .icons .label {
    display: block;
    opacity: 1;
    font-size: 0.90rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
  }
  
  .Outlogo {
    margin: 0;
  }
  
  .Nlogo {
    margin: 10px 5px 5px 1200px; /* Adjust margin as needed */
  }
  
  .logout-icon {
    margin: auto 0 20px 10px; /* Center vertically and add bottom margin */
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;
    cursor: pointer;
    transition: margin 0.5s ease;
  }
  
  .logout-icon:hover {
    background-color: #9115154e;
    border-radius: 30px;    
  }
  