/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* From Uiverse.io by RaspberryBee */ 
/* The switch - the box around the slider */




.switch {
  font-size: 17px;
  font-family: "graphik", Arial,  sans-serif;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(182, 182, 182);
  transition: .4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 8px;
  left: 0.3em;
  bottom: 0.3em;
  transform: rotate(270deg);
  background-color: rgb(255, 255, 255);
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #21cc4c;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

.mainContent {
  position: absolute;
  top: 50px;
  left: 70px;
  width: calc(100% - 70px);
  padding: 5px 10px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: white;
}

  /* Header section styles */
  .header-section {
    margin-bottom: 0px;
  }

  p {
    margin: 0px;
  }

  .header-title {
    font-size: 36px;
    font-family: "graphik", Arial,  sans-serif;
    font-weight: bold;
    color: #DA2127;
    margin: 0;
  }

  .subheader-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .subheader-text {
    font-size: 16px;
    font-family: "graphik", Arial,  sans-serif;
    color: #333;
  }

  .subheader-icon {
    width: 23px;
    height: 13px;
  }

  .no-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px; /* Adjust height as needed */
  }
  
  .no-data-image {
    width: 100px;
    height: auto;
    margin-bottom: 0rem;
  }
  
  .no-data-text {
    font-size: 16px;
    font-family: "graphik", Arial,  sans-serif;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
  }

.bg-blur
{
  background: rgba(0, 0, 0,0.7);
  backdrop-filter: blur(4.1px);
}

.popup {
padding: 35px;
background: #F5F5F5;
box-shadow: 0px 0px 31.8px 28px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.rotateArrow {
  rotate: 180deg;
  transition: 300ms ease-in-out;
}

.scrollCSS::-webkit-scrollbar {
  width: 0px;
}
.MinimalScrollCSS::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #00000040;
  border-radius: 100px;
}

.twoColors:nth-child(even){
  background-color: #EFEFEF;
}

.twoColors:nth-child(odd) {
  background-color: white;
}

.edit-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  font-family: "graphik", Arial,  sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
 }
 .edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
 }
 .edit-svgIcon path {
  fill: white;
 }
 .edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
 }
 .edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
 }
 .edit-button::before {
  display: none;
  content: "Edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
  font-family: "graphik", Arial,  sans-serif;
 }
 .edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  font-family: "graphik", Arial,  sans-serif;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
 }

 /* Delete */
 .delete-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  font-family: "graphik", Arial,  sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
 }

 
 .delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
 }
 .delete-svgIcon path {
  fill: white;
 }
 .delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
 }
 .delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
 }
 .delete-button::before {
  display: none;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
  font-family: "graphik", Arial,  sans-serif;
 }
 .delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  font-family: "graphik", Arial,  sans-serif;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
 }

 .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  border: 2px solid red;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Ensure it appears above other elements */
}

.close-button svg {
  width: 20px;
  height: 20px;
  fill: red; /* Color for the close icon */
}

.close-button:hover {
  background-color: #da2127;
}

.close-button:hover svg {
  fill: white; /* Change color on hover */
}


 .table-row {
  border-bottom: 1px solid white; /* White line between rows */
  padding: 5px 0; /* Reduced padding */
}

.table-cell {
  padding: 0 5px; /* Reduced padding for cells */
  border-right: 1px solid white; /* Add white line between columns */
}

.table-cell:last-child {
  border-right: none; /* Remove border for the last column */
}

.bg-blur
{
  background: rgba(0, 0, 0,0.7);
  backdrop-filter: blur(4.1px);
}

.popup {
padding: 35px;
background: #F5F5F5;
box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.rotateArrow {
  rotate: 180deg;
  transition: 300ms ease-in-out;
}

.scrollCSS::-webkit-scrollbar {
  width: 0px;
}
.MinimalScrollCSS::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #00000040;
  border-radius: 100px;
}

.twoColors:nth-child(even){
  background-color: #ffeeee;
}

.twoColors:nth-child(odd) {
  background-color: white;
}

.create-user{

  padding: 10px 20px;
    background-color: #ff3333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}