@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* Main Content Styling */
.mainContent {
  position: absolute;
  top: 30px;
  left: 70px;
  width: calc(100% - 70px);
  padding: 16px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: white;
}

/* Header section styles */
.header-section {
  margin-bottom: 20px;
}

.header-title {
  font-size: 36px;
  font-weight: bold;
  color: #DA2127;
  margin-top: 20px;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 30px 30px 30px 30px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  overflow: auto; /* Enables vertical scrolling */
  justify-content: center;
  backdrop-filter: blur(5px);
}
.popup-overlay button {
  padding: 10px;
  /* background-color: #ff3333; */
  /* color: #fff; */
  font-size: 13px;
  /* border: none; */
  border-radius: 10px;
  cursor: pointer;
}
.robopopup-content {
  background: white;
  border-radius: 20px;
  padding: 30px;
  gap: 20px;
  max-height: 600px;
  width: auto;
  text-align: center;
  /* display: flex; */
  overflow: auto; /* Enables scrolling within the content */
}


.flex{
  display: flex;
  text-wrap: nowrap;
}

.rob-btn {
  width: 155px; /* Set a fixed width for all buttons */
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.rob-btn.active-btn {
  background-color: white;
  color:red; /* Highlight the active button */
  border: 1px solid red;
}

.rob-btn:hover {
  background-color: white;
  color:red; /* Hover state */
  border: 1px solid red;
}


.validation-error {
  color: red;
  margin-bottom: 10px;
}

.error-msg {
  color: red;
  font-size: 12px;
}
.robopopup-content button{
 margin: 10px;
}
.rob-inp, .rob-inp1, .rob-inp2,.rob-inp3{
  padding: 6px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.rob-inp3{
  padding: 6px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-right: 32rem;
}

.modal-header {
  position: relative;
  text-align: center;
  padding: 15px;
}

.close-icon {
  position: absolute;
  right: 10px;  /* Move icon to the right */
  top: 10px;    /* Keep icon at the top */
  font-size: 24px;
  cursor: pointer;
  /* color: #000;  Adjust color as needed */
}

/* Make modal responsive */
@media (max-width: 768px) {
  .modal {
    width: 90%;
    padding: 15px;
  }

  .modal-header {
    font-size: 18px;
  }

  .close-icon {
    font-size: 20px; /* Adjust size for smaller screens */
  }
}

/* Larger screens */
@media (min-width: 769px) {
  .modal {
    width: 60%;
  }

  .modal-header {
    font-size: 24px;
  }
}



.type-specification-form,
.protocol-limits-form,
.protocol-features-form,
.agv-geometry-form,
.load-specification-form,
.localization-parameters-form,
.physical-parameters-form {
  /* display: flex; */
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}


  .p-button1{
    background: red !important;
    border: 1px solid red !important ;
  }
  .p-button{
    background-color:#ff745b;
    border: 1px solid #ff745b;
  }

/* .rob-inp input {
  margin-left: 10px;
  text-align: center;
  border: 1px solid black;
} */
.subheader-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.subheader-text {
  font-size: 16px;
  color: #333;
}

.subheader-icon {
  width: 13px;
  height: 13px;
}

/* Table Container Styling */
.table-container {
  margin-top: 10px;
  border-radius: 10px;
  /* max-height: 23.5rem; */
  overflow-y: auto;
}


/* Table Styling */
table {
  border-collapse: collapse;
  width: 100%;
  max-height: 500px;
  border-radius: 10px;
  border-spacing: 0;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}

th, td {
  border: 1px solid #ffffff;
  padding:10px 5px 10px 0px;
  height: 30px;
}
td{
  text-align: left;
  padding-left: 20px;
}
.sel-btn{
  border: 1px solid rgba(96, 90, 90, 0.451);
  padding: 5px;
  width: 100px;
  border-radius: 7px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}
th {
  background-color: #FFCDCD;
  padding: 10px 20px;
  color: #000000;
  font-size: 13px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.iconTable{
  text-align: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.edit{
  display: flex !important;
  justify-content: center;
}
td {
  font-size: 13px;
}

tr:hover {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #FFF1F1;
}

/* Button Container Styling */
.button-container {
  margin-top: 10px;
}

.button {
  background-color: #FFFFFF;
  color: #000000;
  width: 185px;
  height: 50px;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.button:last-child {
  margin-right: 0;
}

.active-button {
  background-color: #ff3333;
  color: #FFFFFF;
  transform: scale(1.05);
}

.transition-active {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}


.canvas-container {
  position: relative;
}
.node {
  cursor: pointer;
  transition: border 0.2s;
}

/* Export Button Container */
.Create-button-container {
  position: fixed;
    bottom: 20px;
    right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


  /* Close Button Styles */
  .close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: white;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; /* Ensure it appears above other elements */
  }

  .close-button svg {
    width: 20px;
    height: 20px;
    fill: red; /* Color for the close icon */
  }

  .close-button:hover {
    background-color: #da2127;
  }

  .close-button:hover svg {
    fill: white; /* Change color on hover */
  }

.Create-button {
  padding: 10px 20px;
  background-color: #ff3333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.Open-button {
  padding: 10px;
  background-color: #ff3333;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;

}
.Create-popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.popup-content {
  position: relative;
  color: #FF7373;
  padding: 20px 20px 20px 20px; /* Adjust padding as needed */
  background: #fffffff9;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensure content does not overflow */
  display: inline-block; /* Ensure content size determines popup size */
}
/* Style for the canvas container */
.canvas-container {
  position: relative;
}
.calibration-layer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #c0b3b372;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  z-index: 1;
}
.transparent-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: transparent; */
  background-color: #a29d9d41;
  z-index: 0;
  pointer-events: none; /* Allows clicks to pass through to the underlying canvas */
}
.Image{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  z-index: 1;
}

/* .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  z-index: 2;
} */
.Details  input{
  border: none;
  border-bottom: 2px solid #000000;
  margin-bottom: 20px;
  text-align: center;
}
/* Main container for search bar and date filters */
.search-date-container {
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Space between search bar and date filters */
}

/* Search Bar Styling */
.search-filter-container {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Space between search bar and date filters */
  width:500px;
  gap: 5px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-box {
  display: flex;
  align-items: center;
  border: 0px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  max-width: 500px; /* Adjust as needed */
}
.search-box input {
  border: none;
  padding: 10px 15px;
  outline: none;
  width: 100%; /* Take full width */
  font-size: 14px;
  border-radius: 25px 0 0 25px; /* Matching the radius of the search box */
}
.search-box input::placeholder {
  color: #aaa;
}

.search-btn {
  background-color: #ff5c5c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 25px 25px 0;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.search-btn img {
  width: 40px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
}
.search-btn:hover {
  background-color: #e64e4e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Date Filters Styling */
.date-filters {
  display: flex;
  align-items: center; /* Align items horizontally */
  gap: 1rem; /* Space between date filter and date inputs */
}

.date-filter {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.date-filter:focus {
  border-color: #D30000;
}

.date-inputs {
  display: flex;
  padding: 10px;
  gap: 0.7rem; /* Space between date inputs */
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 0.5px rgba(225, 223, 223, 0.333));
}
.ASR-button, .IP-Scan{
  padding: 10px 20px;
  background-color: #ff3333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 10px;
}
.date-input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0px solid #ccc;  
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.date-input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px #D30000;
}
.date-inputs{
  background-color: #f7f7f7;
  padding: 10px;

}
.date-label {
  color: #333;
  margin-left: 10px;
}
.Enddate-label{
  margin-left: 60px;
}
.tab-menu {
  list-style: none;
  padding: 0;
  display: flex;
  margin-bottom: 20px;
}

.tab-menu li {
  margin-right: 20px;
  cursor: pointer;
}

.tab-menu li.active {
  border-bottom: 2px solid #ff7373;
  color: #ff7373;
}
.icon{
  padding-right:10px ;
}
.Map-settings {
  position: relative;
  display: inline-block;
}
/* Dropdown container */
/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropdown-button {
  background-color: #2725254f; /* Green background */
  color: white; /* White text */
  padding: 10px; /* Some padding */
  font-size: 14px; /* Font size */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none; /* Hide dropdown content by default */
  position: absolute; /* Position it absolutely */
  bottom: 100%; /* Position it above the button */
  left: 0; /* Align it with the button */
  background-color: transparent; /* Background color */
  min-width: 160px; /* Minimum width */
  z-index: 1; /* Place it on top */
}
.ip-scanner-popup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #da2127;
}

/* .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: 1px solid red;
  font-size: 16px;
  cursor: pointer;
} */

.close-button:hover {
  color: red; /* Optional: Change color on hover */
}


.form-group {
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 20px;
}

.form-group label {
  margin: 10px;
}
/* .form-group input {
  margin: 5px;
  border: none;
  border-bottom: 1px solid #000000;
  text-align: center;
} */

.form-group button{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.stop-button {
  margin-left: 10px;
  background-color: #da2127;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.start-button {
  margin-left: 10px;
  background-color: white;
  color: #da2127;
  border: none;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #da2127;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/* Dropdown links */
.dropdown-content button {
  color: rgb(0, 0, 0); /* Black text */
  padding: 12px 16px; /* Padding */
  text-decoration: none; /* No underline */
  display: block; /* Block elements */
  width: 100%; /* Full width */
  font-weight: bold;
  border: none; /* No border */
  text-align: left; /* Align text to the left */
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  background-color: #f1f1f1; /* Gray background */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; /* Show dropdown content */
}

/* Change the background color of the dropdown button when the dropdown content is visible */
.dropdown:hover .dropdown-button {
  background-color: #544d4d17; /* Darker green */
}
.icon-button{
background-color: transparent;
border: none;
}
.calibrate-button {
  position: absolute;
  bottom: 10px; /* Adjust this value as needed */
  left: 80px;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #8484844f;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.calibrate-button:hover {
  background-color: #5b5b5e58;
}



.calibration-layer button {
  margin: 5px 0;
  padding: 8px 16px;
  background-color: #8484844f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.calibration-layer button:hover {
  background-color: #5b5b5e96;
}
.node.selected {
  border: 2px solid rgb(3, 1, 1);
  border-radius: 40%;
}
.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Container for paginator */
.paginator-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

/* Paginator wrapper */
.mat-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Spacing between buttons */
}

/* Paginator buttons */
.mat-paginator .mat-paginator-navigation-previous,
.mat-paginator .mat-paginator-navigation-next {
  width: 40px;
  height: 40px;
  background-color: #e0e0e0; /* Grey background for disabled state */
  border-radius: 8px; /* Rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  border: none;
}

.mat-paginator .mat-paginator-navigation-previous.mat-button-disabled,
.mat-paginator .mat-paginator-navigation-next.mat-button-disabled {
  background-color: #e0e0e0; /* Grey background for disabled state */
  color: #a0a0a0; /* Disabled color */
}

.mat-paginator .mat-paginator-navigation-previous:not(.mat-button-disabled),
.mat-paginator .mat-paginator-navigation-next:not(.mat-button-disabled) {
  cursor: pointer;
  background-color: #ffffff; /* White background for active state */
  border: 1px solid #dcdcdc;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.mat-paginator .mat-paginator-navigation-previous:hover:not(.mat-button-disabled),
.mat-paginator .mat-paginator-navigation-next:hover:not(.mat-button-disabled) {
  background-color: #f0f0f0; /* Hover effect */
  border-color: #c0c0c0;
}

/* Paginator numbers */
.mat-paginator .mat-paginator-range-label,
.mat-paginator .mat-paginator-page-size,
.mat-paginator .mat-paginator-icon {
  display: none; /* Hide unwanted elements like range and page-size selectors */
}

.mat-paginator .mat-page-number {
  width: 40px;
  height: 40px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
}

.mat-paginator .mat-page-number.active {
  border: 2px solid #6c3eff; /* Purple border for the active page */
  color: #6c3eff;
}

.mat-paginator .mat-page-number:hover {
  background-color: #f5f5f5;
}

/* Ellipsis */
.mat-paginator .ellipsis {
  font-size: 18px;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

/* Hide paginator buttons when not needed */
.mat-paginator .mat-paginator-navigation-previous.mat-button-disabled,
.mat-paginator .mat-paginator-navigation-next.mat-button-disabled {
  pointer-events: none; /* Disabled cursor when inactive */
}


::ng-deep .mat-mdc-paginator-container{
  display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    min-height: var(--mat-paginator-container-size);
}
