<div class="container1">
  <div class="content-fluid1">
    <div class="general">
      <!-- <form> -->
        <div class="container">
          <div class="form-control">

            <!-- WES Communications Section -->
            <div class="head1">
              <h4><b>WES Communications:</b></h4>
              <div class="field">
                <!-- External Interface IP -->
                <div class="field">
                  <label for="externalInterfaceIp">External Interface IP: </label>
                  <div class="valid">
                      <input
                        class="input"
                        type="text"
                        minlength="7"
                        maxlength="15"
                        size="15"
                        placeholder="Enter"
                        [(ngModel)]="formData.externalInterfaceIp"
                        name="externalInterfaceIp"
                        pInputText
                        required
                        pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" 
                        #externalInterfaceIpInput="ngModel"
                      />
                    
                    <div *ngIf="externalInterfaceIpInput.errors && externalInterfaceIpInput.touched">
                      <small class="text-danger" *ngIf="externalInterfaceIpInput.errors['required']">
                        *External Interface IP is required.
                      </small>
                      <small class="text-danger" *ngIf="externalInterfaceIpInput.errors['pattern']">
                        *Please enter a valid IP address.
                      </small>
                    </div>
                  </div>  
                

                <!-- External Interface Type -->
                <label for="externalInterfaceType" style="margin-left: 8rem;">External Interface Type : </label>
                <input
                  type="text"
                  placeholder="Enter Type"
                  [(ngModel)]="formData.externalInterfaceType"
                  pInputText
                />
              </div>
            </div>

            <!-- Communication Section -->
            <div class="head2">
              <h4><b>Communication:</b> </h4>
              <div class="field2">
                <!-- Robot Interface IP -->
                <div class="field">
                  <label for="roboInterfaceIp" style="margin-right: 1.5rem;">Robot Interface IP: </label>
                  <div class="valid">
                        <input
                          class="input"
                          type="text"
                          minlength="7"
                          maxlength="15"
                          size="15"
                          placeholder="Enter"
                          [(ngModel)]="formData.roboInterfaceIp"
                          name="roboInterfaceIp"
                          pInputText
                          required
                          pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" 
                          #roboInterfaceIpInput="ngModel"
                        />
                      
                      
                      <div *ngIf="roboInterfaceIpInput.errors && roboInterfaceIpInput.touched">
                        <small class="text-danger" *ngIf="roboInterfaceIpInput.errors['required']">
                          *Robot Interface IP is required.
                        </small>
                        <small class="text-danger" *ngIf="roboInterfaceIpInput.errors['pattern']">
                          *Please enter a valid IP address.
                        </small>
                      </div>
                  </div>

                <!-- Robot Interface Type -->
                <label for="roboInterfaceType" style="margin-left: 8rem;margin-right: 2rem;">Robot Interface Type : </label>
                <input
                  type="text"
                  placeholder="Enter Type"
                  [(ngModel)]="formData.roboInterfaceType"
                  pInputText
                />
              </div>
            </div>

            <!-- Robot Communications Section -->
            <div class="radio">
              <h4><b>Robot Communications:</b></h4>
              <h4>Select an option:</h4>
              <div class="category-container">
                <div *ngFor="let category of categories" class="field-checkbox">
                  <!-- Radio Button for Categories -->
                  <p-radioButton
                    [inputId]="category.key"
                    name="category"
                    [value]="category"
                    [(ngModel)]="selectedCategory"
                    required
                  ></p-radioButton>
                  <label [for]="category.key" class="category-label">{{ category.name }}</label>
                </div>
              </div>
            
              <!-- Validation for Category Selection
              <div *ngIf="!selectedCategory" class="validation-error">
                <small class="text-danger">*Select a communication type.</small>
              </div> -->
            </div>
            


            </div>
                        <!-- Submit Button -->
                        <div class="head-button">
                          <div class=" mt-1">
                            <p-button
                              label="Submit"
                              type="submit"
                              class="block mt-1 pt-2"
                              icon="pi pi-check-circle"
                              styleClass="p-button-danger p-button1"
                              [disabled]="!formData.externalInterfaceIp || !formData.roboInterfaceIp || !selectedCategory"
                              (onClick)="saveCommParams()"
                            ></p-button>
                          </div>
          </div>
        </div>
    </div>
  </div>
</div>
