.form-control, .form2, .form3 {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 20px;
  box-sizing: border-box; /* Ensures consistent width including padding/margins */
}

.form2{
  margin-right: 15rem;
}

.centers{
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2%;
  margin-top: 3%;
  /* margin-bottom: 0px; */
}

/* Button styling */
.button {
  /* width: 70%; */
  height: 31px;
  padding: 0.5rem 1rem;
  margin-top: 19rem;
  font-size: 0.8rem;
}

/* Button class specific to p-button-danger */
::ng-deep .p-button.p-button-danger {
  /* width: 70% !important; */
  height: 31px !important;
  /* margin-top: 19rem; */
}

::ng-deep .p-button {
  padding: 0.5rem 1rem !important;
  font-size: 0.8rem !important;
}

.field {
  margin-bottom: 25px;
  display: flex;
}

label {
  /* font-weight: bold; */
  margin-right: 20px;
}

/* input {
  width: 100%;
} */

input[type="text"],
input[type="number"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

br {
  display: none;
}

.container1{
  border: 1px solid #000;
  border-radius: 15px;
}

::ng-deep{
  .p-button.p-button-danger{
      width: 70% !important;
      height: 31px !important;
  }
  .p-button{
    padding: 0.5rem .1rem !important;
    font-size: .8rem !important;
  }
}

.button{
  width: 70%;
  height: 31px;
  padding: 0.5rem .1rem;
  font-size: .8rem
}

.battery-container {
  width: 100%;
  height: 25px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
}

.battery-bar {
  height: 100%;
  background-color: #4caf50;
  width: 0;
  border-radius: 5px;
}
