<div class="ip-scanner-popup">
  <button class="close-button" (click)="closeIPScanner()">✖</button>
  <h2>IP Range Scanner</h2>
  <form class="ip-scan-form">
    <div class="form-group">
      <label for="ipRangeFrom">IP Range:</label>
      <input id="ipRangeFrom" type="text" placeholder="255.255.0.0" />
      <span>to: </span>
      <input id="ipRangeTo" type="text" placeholder="255.255.0.0" />
    </div>

    <!-- <div class="form-group">
        <label for="hostname">Hostname:</label>
        <input id="hostname" type="text" placeholder="e-estonia.com">
      </div>   -->
    <button type="button" class="start-button" (click)="startScanning()">
      Start
    </button>
    <button type="button" class="start-button" (click)="stopScanning()">
      Stop
    </button>
  </form>

  <table>
    <thead>
      <tr>
        <th>IP</th>
        <th>MAC</th>
        <th>Hostname</th>
        <th>Ping</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ipScanData">
        <td>{{ item.ip }}</td>
        <td>{{ item.mac }}</td>
        <td>{{ item.host }}</td>
        <td>{{ item.ping }}</td>
        <td>{{ item.Status }}</td>
      </tr>
    </tbody>
  </table>
</div>
