/* General container styling */
.container1 {
    border: 1px solid #000;
    border-radius: 15px;
    padding-top: 2%;
    padding: 20px;
  }
.content-fluid1 {
    flex-direction: column;
    align-items: center;
}
.input-groupgbtn{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;  
  justify-content: end;
  gap: 1rem;
  margin: 1rem;
}
.input-groupg {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.input-groupg label {
  flex-basis: 30%; /* Adjust width of labels */
  min-width: 150px; /* Minimum width for labels */
}
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust spacing between checkbox and label */
}

.checkbox-group input {
  margin-left: 0; /* Ensure checkbox aligns to the left */
}
.input-groupg input,
.input-groupg select {
  height: 32px;
  flex-basis: 18%;
  min-width: 3px;
  width: 6rem;
}


label {
  font-size: 14px; /* Adjust size as needed */
  color: #333; /* Change text color */
  font-family: "graphik", Arial, sans-serif;
}

input {
  font-size: 14px; /* Font size for input fields */
  color: #000; /* Text color for inputs */
  font-family: "graphik", Arial, sans-serif;
}



::ng-deep .p-tabview-nav li .p-tabview-title {
  font-size: 16px; 
  font-family: "graphik", Arial, sans-serif !important;
  color: #000000; 
}

::ng-deep .p-tabview-nav li.p-highlight .p-tabview-title {
  font-size: 16px; 
  font-weight: bold; 
  font-family: "graphik", Arial, sans-serif !important;
  color: #007bff; 
}

::ng-deep .p-tabview-nav li {
  background: transparent !important; 
}

.p-tabview-title{
  font-family: "graphik", Arial, sans-serif !important;
}