<div class="container1">
    <div class="content-fluid1">
        <p-tabView>
            <p-tabPanel header="{{getTranslation('MOVE')}}">
                <p>
                    Lorem ipsum dolor sit amet...
                </p>
            </p-tabPanel>
            <p-tabPanel header="{{getTranslation('DOCK')}}">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </p>
            </p-tabPanel>
            <p-tabPanel header="{{getTranslation('UNDOCK')}}">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-tabPanel>
            <p-tabPanel header="{{getTranslation('CHARGE')}}">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-tabPanel>
            <p-tabPanel header="{{getTranslation('GEOMETRY')}}">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-tabPanel>
            <p-tabPanel header="{{getTranslation('BATTERY')}}">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>