.robot-parameters-popup {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 50px;
  z-index: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.robot-parameters-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab-button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.tab-button:hover,
.tab-button:focus {
  background-color: #da2127;
  color: white;
}

.robot-parameters-content {
  font-size: 1.2em;
  text-align: center;
}
