#container {
  display: flex;
  height: 100vh; /* Ensure the container takes up the full viewport height */
  width: auto;
  overflow: hidden;
  /* margin-left: 5%; */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
app-sidenavbar{
  z-index: 12;
}

.mainContent {
  flex-grow: 1;  
  /* width: 100%; */
  position: relative;
  margin-left: 65px; /* Matches the width of the sidebar */
  margin-top: 50px; 

  /* border: 10px solid black  ;     Matches the height of the topbar */
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  height: 800;
  width: 1350;
  /* background-color: rgba(212, 125, 125, 0.447); */
  left: 0;
}

.ONBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 30px 0px 0px;
  filter: drop-shadow(5px 2px 2px rgba(130, 126, 126, 0.404));
  cursor: pointer;
  z-index: 13;
}

.CanvasOptions {
  position: absolute;
  bottom: 5%;
  left: 17%; /* Center horizontally */
  transform: translateX(-50%);
  display: flex;
  background-color: rgba(255, 255, 255, 0.442);
  border-radius: 10px;
  justify-content: center;
  cursor: pointer;
  padding: 0 0px;
  box-shadow: 0 3px 6px #ff7373;
  z-index:11; /* Ensure it stays above other elements */
}

.tooltip {
  position: relative;
  display: flex;
  align-items: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(136, 132, 132, 0.601);
  color: #ffffff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the image */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%; /* Arrow below the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(136, 132, 132, 0.601) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.CanvasOptions:hover{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 6px #ff7373;
}
#element-id-to-capture {
  box-shadow: 0 3px 6px #ff7373;
}

.Expand, .Layout, .Save, .Pointer, .Zoom, .ZoomOut, .Capture,.ModelCanvas {
  padding: 0px 10px;
  cursor: pointer;
}

.Expand:hover, .Layout:hover, .Save:hover, .Pointer:hover, .Zoom:hover, .ZoomOut:hover, .Capture:hover,.ModelCanvas:hover {
  filter: drop-shadow(0 2px 2px #ff0d0d3c);
}

.empty {
  background-color: #ff7373;
  width: 15px;
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.FloorSelector select {
  padding: 5px;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px 150px 0px 0px;
  padding: 5px 30px;
  border: none;
  border-radius: 10px;
  background-color: rgba(199, 186, 186, 0.303);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.GraphAndCharts {
  position: absolute;
  top: 100px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adds space between the charts */
  z-index: 12; /* Ensure it is above the canvas */
}

.Chart1, .Chart2, .Chart3 {  
  background-color: rgba(255, 255, 255, 0.442);
  height: 240px; /* Adjust height as needed */
  box-shadow: 0 3px 6px #ff7373;
  border-radius: 20px;
  /* border: 0.5px solid #ff7373; */
}

.Chart1:hover, .Chart2:hover, .Chart3:hover {
  background-color: rgb(255, 255, 255);
}
.Chart2_Chart3{
  display: flex;
  gap: 10px;
}
.Chart1 {
  width: 440px;
  padding: 10px 0px 0px 0px;
}

.Chart2 p {
  padding: 20px 0px 0px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.Chart3 p {
  padding: 20px 0px 0px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.Chart3 {
  width: 200px;
}

.R-Chart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Chart2{
  width: 230px;
}
.T-Chart {
  width: 600px;
}
.Chart2-container,.Chart3-container,.Chart1-container {
  position: relative;
}

.chart3-blur-layer,.chart2-blur-layer,.chart1-blur-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.192); /* Semi-transparent white background */
  /* backdrop-filter: blur(5px);  */
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Ensure it is on top of Chart2 */
}
/* .blurred {
  filter: blur(5px);
} */
/* From Uiverse.io by Ali-Tahmazi99 */ 
.loading {
  width: 60px;
  height: 60px;
  position: relative;
}

.d1 , .d2 {
  border: 5px solid #ff7373;
  border-radius: 50px;
}

.loading .d1 {
  width: 55px;
  height: 55px;
  position: absolute;
  border-left-color: transparent;
  animation: load161 1s linear infinite;
}

.loading .d2 {
  width: 40px;
  height: 40px;
  border-top-color: transparent;
  border-right-color: transparent;
  margin: 7.5px;
  animation: load2812 1.5s linear infinite;
}

@keyframes load161 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes load2812 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}


