.mainContent {
  position: absolute;
  top: 2%;
  left: 5%;
 
  /* width: calc(100% - 70px); */
  width: 95%; /* Relative to the parent or viewport */
  padding: 1%;
  /* overflow: hidden; */
  box-sizing: border-box;
  background-color: white;
}
 
.header {
  margin-top: 1%;
  padding: 0;
  background-color: #ffffff;
  z-index: 0;
  position: relative;
}
 
/* Ensure the sidebar has a higher z-index */
.sidebar {
  position: relative;
  z-index: 100;
}
 
/* Container for the slider buttons */
.slider-buttons-container {
  position: relative;
  z-index: 0;
}
 
.slider-buttons {
  display: flex;
  margin-top: 3%;
  width: 100%;
  max-width: 15%;
  height: 7vh;
  gap: 2%;
  font-size: 1.0vw;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.slider-buttons button {
  flex: 1;
  padding: 2%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #333;
  font-weight: bold;
  z-index: 3;
}
 
.slider-buttons button.active {
  color: white;
}
 
.slider {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #da2127;
  z-index: 2;
  transition: transform 0.3s ease;
}
 
.slider.left {
  transform: translateX(0);
}
 
.slider.right {
  transform: translateX(100%);
}


 

/* Statistics container */
/* Statistics container */
.statistics-container {
  position: absolute;
  top: 7%;
  right: 1%;
  display: flex;
  justify-content: space-between;
  gap: 2%;
}
 
.stat-card,.sale-card {
  background-color: #ffffff;
  padding: 1%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 18vw; 
  height: auto;
  text-align: left;
  position: relative;
  margin-bottom: 1%;
}
 
.stat-value {
  font-size: 1.3vw;
  font-weight: 500;
  margin-top: -1%;
}
 
h2 {
  margin: -0.1em 0;
  font-size: 2.0em; /* Increased font size */
}
 
/* Styling for positive stat change */
.stat-change.positive {
  color: #4caf50;
  font-weight: medium;
  font-size: 1vw;
  display: flex;
  align-items: center;
}
 
.stat-change.positive span {
  margin-left: 5%;
  font-size: 1.2vw;
  color: #4caf50;
}
 
/* Styling for negative stat change */
.stat-change.negative {
  color: #f44336;
  font-weight: medium;
  font-size: 1vw;
  display: flex;
  align-items: center;
}
 
.stat-change.negative span {
  margin-left: 5%;
  font-size: 1.2vw;
  color: #f44336;
}
 
/* General styling for stat-chart */
.stat-chart {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-40%);
  width: 6vw; /* Adjust the width of the chart */
  height: 7vw; /* Keep height proportional to the width */
}
 
.loading svg polyline {
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}
 
.stat-chart svg {
  width: 100%;
  height: auto;
}
 
/* Specific styling for Stat Card 1 (red color) */
.stat-card-1 .loading svg polyline#back {
  stroke: #ff4d5033;
}
 
.stat-card-1 .loading svg polyline#front {
  stroke: #da2127;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}
 
/* Specific styling for Stat Card 2 (yellow color) */
.stat-card-2 .loading svg polyline#back {
  stroke: #ffc10733;
}
 
.stat-card-2 .loading svg polyline#front {
  stroke: #ffc107;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}
 
/* Specific styling for Stat Card 3 (green color) */
.stat-card-3 .loading svg polyline#back {
  stroke: #4caf5033;
}
 
.stat-card-3 .loading svg polyline#front {
  stroke: #4caf50;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}

/* Specific styling for Stat Card 3 (green color) */
.stat-card-4 .loading svg polyline#back {
  stroke: #4c57af33;
}
 
.stat-card-4 .loading svg polyline#front {
  stroke: #212dd3;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}
 
/* Keyframes for dash animation */
@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}


/* Table stylings */
.dashboard-container {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  margin-top: 2%;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

/* Styling for the robot activity table */
.robot-activity-container {
  flex: 0.5; /* Set to 50% of the width */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5%; /* Minimal padding */
  overflow: hidden; /* Ensure the table doesn't overflow */
}

/* Styling for the notifications table */
.notifications-container {
  flex: 0.5; /* Set to 50% of the width */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5%; /* Minimal padding */
  overflow: hidden; /* Ensure the table doesn't overflow */
}

/* Styling for the section headers */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFCDCD;
  margin-bottom: 1%;
  border-radius: 5px;
  padding: 0.3rem; /* Reduced padding */
}

/* Header text */
.section-header h3 {
  margin: 0;
  font-size: 1vw;
  font-weight: 500;
  color: #333;
}

/* Styling the search box */
.search-box {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
  width: 60%; /* Adjust width as needed */
  margin-right: 1rem; /* Space between search box and view all button */
}

.search-box input {
  border: none;
  padding: 0.5rem;
  outline: none;
  width: 100%;
  font-size: 0.8vw;
  border-radius: 5px;
}

.search-box input::placeholder {
  color: #aaa;
}
.view-all-btn {
  background-color: #7854f7;
  color: white;
  padding: 0.2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 0.8vw;
  margin-left: 1rem;
}

/* Table scrollable after 4 rows */
.activity-table,
.notifications-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  max-height: 10rem; /* Adjust height as needed */
  overflow-y: auto;
  display: block;
}

.activity-table tr,
.notifications-table tr {
  border-bottom: 1px solid #eee;
}

.activity-table td,
.notifications-table td {
  font-size: 0.8vw;
  color: #555;
}

.activity-table td:first-child,
.notifications-table td:first-child {
  font-weight: medium;
  color: #222222;
  padding-left: 1rem; /* Ensure the first cell has enough padding on the left */
}

.activity-table tr:nth-child(odd),
.notifications-table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.activity-table tr:hover,
.notifications-table tr:hover {
  background-color: #f1f1f1;
}

/* Align text in the first column */
.activity-table td:first-child,
.notifications-table td:first-child {
  text-align: left;
}

/* Align text in the rest of the columns */
.activity-table td:not(:first-child),
.notifications-table td:not(:first-child) {
  text-align: left;
}

/* Make sure the table header stays in place */
.activity-table thead th,
.notifications-table thead th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2;
}


.charts-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 6%;
  width: 100%;
  gap: 2%;
}

.robot-uptime-chart {
  flex: 2 1 60%; /* Flex-grow 2, flex-shrink 1, takes 60% of available space */
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1%;
  height: auto; /* Height will adjust based on content */
  min-height: 270px; /* Ensures a minimum height for smaller screens */
}

.radial{
  flex-grow: 1;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1%;
  width: 35%;
  min-height: 270px; /* Ensures a minimum height for smaller screens */

}
/* The operation pie chart should directly apply these styles */
app-operation-pie {
  
  flex-grow: 1;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1%;
  width: 35%;
  height: 270px;
}

@media (max-width: 1200px) {
  .charts-container {
    flex-direction: column;
  }
  .robot-uptime-chart,
  app-operation-pie {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .robot-uptime-chart,
  app-operation-pie {
    height: 250px;
  }
}

