<div class="container" #screen>
  <!-- <app-sidenavbar></app-sidenavbar> -->
  <app-loader></app-loader>
  <div class="mainContent">
    <div class="robot-dashboard-container">
      <!-- <app-operation-pie
        [series]="[510, 142, 340, 590, 340]"
        [labels]="['Completed', 'Inprogress', 'ToDo', 'Error', 'Cancelled']"
        [legendFontSize]="'14px'"
        [dataLabelFontSize]="'14px'"
        [chartWidth]="470"
        [fillType]="'gradient'"
        [titleText]="'Operations'"
        [legendFontSize]="'16px'"
        [dataLabelFontSize]="'18px'">
    </app-operation-pie> -->
      <!-- Slider Buttons for Navigation -->
      <div class="slider-buttons-container">
        <div class="slider-buttons">
          <button
            (click)="setView('operation')"
            [class.active]="currentView === 'operation'"
          >
            Operation
          </button>
          <button
            (click)="setView('robot')"
            [class.active]="currentView === 'robot'"
          >
            Robot
          </button>
          <div
            class="slider"
            [ngClass]="{
              left: currentView === 'operation',
              right: currentView === 'robot'
            }"
          ></div>
        </div>
      </div>

      <!-- Stat Cards Section -->
      <!-- Stat card 1 -->
      <div class="statistics-container">

      <div class="stat-card stat-card-1">
        <div class="stat-value">Average speed</div>
        <h2>{{ statisticsData. averageSpeed || 'Loading...' }}</h2>
        <div class="stat-change positive">
          +{{ statisticsData. averageSpeedChange }}% <span>&uarr;</span>
        </div>
        <div class="stat-chart">
          <section>
            <div class="loading">
              <svg width="140px" height="100px">
                <!-- SVG chart rendering -->
                <polyline
                id="back"
                points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
              ></polyline>
              <polyline
                id="front"
                points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
              ></polyline>
              </svg>
            </div>
          </section>
        </div>
      </div>

      <!-- Stat card 2 -->
      <div class="stat-card stat-card-2">
        <div class="stat-value">Total distance</div>
        <h2>{{ statisticsData.totalDistance || 'Loading...' }}</h2>
        <div class="stat-change positive">
          +{{ statisticsData.totalDistanceChange }}% <span>&uarr;</span>
        </div>
        <div class="stat-chart">
          <section>
            <div class="loading">
              <svg width="140px" height="100px">
                <!-- SVG chart rendering -->
                <polyline
                id="back"
                points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
              ></polyline>
              <polyline
                id="front"
                points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
              ></polyline>
              </svg>
            </div>
          </section>
        </div>
      </div>

      <!-- Stat card 3 -->
      <div class="stat-card stat-card-3">
        <div class="stat-value">Robot utilization</div>
        <h2>{{ statisticsData.robotUtilization || 'Loading...' }}</h2>
        <div class="stat-change negative">
          {{ statisticsData.robotUtilizationChange }}% <span>&darr;</span>
        </div>
        <div class="stat-chart">
          <section>
            <div class="loading">
              <svg width="140px" height="100px">
                <!-- SVG chart rendering -->
                <polyline
                id="back"
                points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
              ></polyline>
              <polyline
                id="front"
                points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
              ></polyline>
              </svg>
            </div>
          </section>
        </div>
      </div>

      <!-- Stat card 4 -->
      <div class="stat-card stat-card-4">
        <div class="stat-value">Network connection</div>
        <h2>{{ statisticsData.networkConnection|| 'Loading...' }}</h2>
        <div class="stat-change positive">
          +{{ statisticsData.networkConnectionChange }}% <span>&uarr;</span>
        </div>
        <div class="stat-chart">
          <section>
            <div class="loading">
              <svg width="140px" height="100px">
                <!-- SVG chart rendering -->
                <polyline
                id="back"
                points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
              ></polyline>
              <polyline
                id="front"
                points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
              ></polyline>
              </svg>
            </div>
          </section>
        </div>
      </div>
    </div>

      <!-- <div class="charts-container">
              <div class="robot-uptime-chart">

                <app-chart-timeline></app-chart-timeline>
              </div>
              <app-operation-pie
                [series]="[510, 142, 340, 590, 340]"
                [labels]="['Completed', 'Inprogress', 'ToDo', 'Error', 'Cancelled']"
                [legendFontSize]="'14px'"
                [dataLabelFontSize]="'14px'"
                [chartWidth]="470"
                [fillType]="'gradient'"
                [titleText]="'Operations'"
                [legendFontSize]="'16px'"
                [dataLabelFontSize]="'18px'">
              </app-operation-pie>
            </div> -->

      <div class="charts-container">
        <!-- <app-operation-pie
                [series]="[310, 142, 240]"
                [labels]="['Error', 'Inactive','Error']"
                [legendFontSize]="'14px'"
                [dataLabelFontSize]="'14px'"
                [chartWidth]="470"
                [fillType]="'gradient'"
                [titleText]="'Operations'"
                [legendFontSize]="'16px'"
                [dataLabelFontSize]="'18px'">
              </app-operation-pie> -->
        <div class="robot-uptime-chart">
          <app-chart-timeline></app-chart-timeline>
        </div>
        <div class="radial">
          <app-radial-chart>
            [labels]="['Completed', 'Inprogress', 'ToDo', 'Error', 'Cancelled']"
            [legendFontSize]="'14px'" [dataLabelFontSize]="'14px'"
          </app-radial-chart>
        </div>
      </div>

      <div class="dashboard-container">
        <!-- Robot Activity Section -->
        <div class="robot-activity-container">
          <div class="section-header">
            <h3>Robot Activities</h3>
            <div class="search-box">
              <input
                type="text"
                placeholder="Search activities..."
                (input)="onSearch($event)"
              />
            </div>
            <button class="view-all-btn" (click)="onViewAllClick()">View All</button>
          </div>
          <div class="robot-activity-table-container">
            <table class="robot-activity-table">
              <thead>
                <tr>
                  <th>Robot Id</th>
                  <th>Robot State</th>
                  <th>Task Name</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>

                <!-- Show No Data Row with image and message -->
                <tr *ngIf="filteredRobotActivities.length === 0">
                  <td colspan="4" class="no-data">
                    <div class="no-data-container">
                      <img src="../../assets/no-data.png" alt="No Data" class="no-data-image">
                      <p class="no-data-text">No data found</p>
                    </div>
                  </td>
                </tr>

                <tr *ngFor="let activity of filteredRobotActivities | slice:0:5">
                  <td>{{ activity.roboId }}</td>
                  <!-- <td>{{ activity.roboName }}</td> -->
                  <td>{{ activity.state }}</td>
                  <td>{{ activity.task }}</td>
                  <td>{{ activity.status }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Notifications Section -->
        <div class="notifications-container">
          <div class="section-header">
            <h3>Notifications</h3>
            <div class="search-box">
              <input
                type="text"
                placeholder="Search notifications..."
                (input)="onSearchNotifications($event)"
              />
            </div>
            <!-- <button class="view-all-btn">View All</button> -->
          </div>
        
          <table class="notifications-table">
          <thead>
            <tr>
              <th>Message</th>
              <th>Task ID</th>
              <th>Timestamp</th>
            </tr>
          </thead>

          <tbody>          
            <!-- Show No Data Row with image and message -->
            <tr *ngIf="filteredNotifications.length === 0">
              <td colspan="3" class="no-data">
                <div class="no-data-container">
                  <img src="../../assets/no-data.png" alt="No Data" class="no-data-image">
                  <p class="no-data-text">No data found</p>
                </div>
              </td>
            </tr>

            <tr *ngFor="let notification of filteredNotifications | slice:0:10">
              <td>{{ notification.message }}</td>
                <td>{{ notification.taskId }}</td>
                <td>{{ notification.timestamp }}</td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
