.popup-overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 30px 30px 30px 30px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  overflow: auto; /* Enables vertical scrolling */
  justify-content: center;
  backdrop-filter: blur(5px);

}
.popup-content {
  background: white;
  border-radius: 20px;
  padding: 20px;
  width: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto; /* Enables scrolling within the content */
}

table {
  width: 100%;
  font-size: 20px;
  border-collapse: collapse;
}
.error-message{
  color: #ff3333;
  font-size: 10px;
}
h4{
  color: #ff3333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  align-items: center;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #ff3333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 10px;
}

