<div class="container" #screen>
  <app-loader></app-loader>
  <div class="mainContent">
    <!-- Router outlet for displaying the appropriate view -->
    <!-- Slider button -->

    <div class="slider-buttons-container">
      <div class="slider-buttons">
        <button
          (click)="setView('operation')"
          [class.active]="currentView === 'operation'"
        >
          Operation
        </button>
        <button
          (click)="setView('robot')"
          [class.active]="currentView === 'robot'"
        >
          Robot
        </button>
        <div
          class="slider"
          [ngClass]="{
            left: currentView === 'operation',
            right: currentView === 'robot'
          }"
        ></div>
      </div>
    </div>
    <div *ngIf="currentView === 'operation'">

      <div class="statistics-container">
        <!-- Stat card 1 -->
        <div class="stat-card stat-card-1">
          <div class="stat-value">System throughput</div>
          <h2>{{ statisticsData.systemThroughput }}</h2>
          <div class="stat-change positive">
            +{{ statisticsData.systemThroughputChange }}% <span>&uarr;</span>
          </div>
          <div class="stat-chart">
            <section>
              <div class="loading">
                <svg width="140px" height="100px">
                  <!-- SVG chart rendering -->
                  <polyline
                  id="back"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                <polyline
                  id="front"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                </svg>
              </div>
            </section>
          </div>
        </div>

        <!-- Stat card 2 -->
        <div class="stat-card stat-card-2">
          <div class="stat-value">System uptime</div>
          <h2>{{ statisticsData.systemUptime || 'Loading...' }}</h2>
          <div class="stat-change positive">
            +{{ statisticsData.systemUptimeChange }}% <span>&uarr;</span>
          </div>
          <div class="stat-chart">
            <section>
              <div class="loading">
                <svg width="140px" height="100px">
                  <!-- SVG chart rendering -->
                  <polyline
                  id="back"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                <polyline
                  id="front"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                </svg>
              </div>
            </section>
          </div>
        </div>

        <!-- Stat card 3 -->
        <div class="stat-card stat-card-3">
          <div class="stat-value">Success rate</div>
          <!-- <h2>{{ statisticsData.successRate || 'Loading...' }}</h2> -->
          <h2>{{ statisticsData.successRate}}</h2>
          <div class="stat-change negative">
            {{ statisticsData.successRateChange }}% <span>&darr;</span>
          </div>
          <div class="stat-chart">
            <section>
              <div class="loading">
                <svg width="140px" height="100px">
                  <!-- SVG chart rendering -->
                  <polyline
                  id="back"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                <polyline
                  id="front"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                </svg>
              </div>
            </section>
          </div>
        </div>

        <!-- Stat card 4 -->
        <div class="stat-card stat-card-4">
          <div class="stat-value">Responsiveness</div>
          <h2>{{ statisticsData.responsiveness || 'Loading...' }}</h2>
          <div class="stat-change positive">
            +{{ statisticsData.responsivenessChange }}% <span>&uarr;</span>
          </div>
          <div class="stat-chart">
            <section>
              <div class="loading">
                <svg width="140px" height="100px">
                  <!-- SVG chart rendering -->
                  <polyline
                  id="back"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                <polyline
                  id="front"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                </svg>
              </div>
            </section>
          </div>
        </div>
      </div>




    <div class="charts-container">
      <div class="area-chart-container">
        <app-area-chart
        (systemThroughputEvent)="updateSysThroughput($event)"
        [taskData]="operationPie"
        ></app-area-chart>
      </div>
      <div class="donut-chart-container">
        <app-gradient-donut
          [series]="operationPie"
          [labels]="['Completed', 'In-Progress', 'ToDo', 'Error', 'Cancelled']"
          [legendFontSize]="'14px'"
          [dataLabelFontSize]="'14px'"
          [chartWidth]="495"
          [fillType]="'gradient'"
          [titleText]="'Operations'"
          [legendFontSize]="'16px'"
          [dataLabelFontSize]="'18px'"
        >
        </app-gradient-donut>
      </div>
    </div>

    <div class="dashboard-container">
      <!-- Robot Activity Section -->
      <div class="operation-activity-container">
        <div class="section-header">
          <h3>Operation Activities</h3>
          <div class="search-box">
            <input
              type="text"
              placeholder="Search activities..."
              (input)="onSearch($event)"
            />
          </div>
          <button class="view-all-btn" (click)="onViewAllClick()">View All</button>
        </div>
        <div class="operation-activity-table-container">
          <table class="operation-activity-table">
            <thead>
              <tr>
                <th>Task ID</th>
                <th>Task Name</th>
                <th>Robot Name</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>

             <!-- Show No Data Row with image and message -->
             <tr *ngIf="filteredOperationActivities.length === 0">
              <td colspan="4" class="no-data">
                <div class="no-data-container">
                  <img src="../../assets/no-data.png" alt="No Data" class="no-data-image">
                  <p class="no-data-text">No data found</p>
                </div>
              </td>
            </tr>

              <tr *ngFor="let activity of filteredOperationActivities | slice:0:10">
                <td>{{ activity.taskId }}</td>
                <td>{{ activity.taskName }}</td>
                <td>{{ activity.robotName }}</td>
                <td>{{ activity.status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      

      <!-- Notifications Section -->
      <div class="notifications-container">
        <div class="section-header">
          <h3>Notifications</h3>
          <div class="search-box">
            <input
              type="text"
              placeholder="Search notifications..."
              (input)="onSearchNotifications($event)"
            />
          </div>
          <!-- <button class="view-all-btn">View All</button> -->
        </div>
        <div class="robot-activity-table-container">
          <table class="notifications-table">
            <thead>
              <tr>
                <th>Message</th>
                <th>Task ID</th>
                <th>Timestamp</th>
              </tr>
            </thead>
            <tbody>

              <!-- Show No Data Row with image and message -->
              <tr *ngIf="filteredNotifications.length === 0">
                <td colspan="3" class="no-data">
                  <div class="no-data-container">
                    <img src="../../assets/no-data.png" alt="No Data" class="no-data-image">
                    <p class="no-data-text">No data found</p>
                  </div>
                </td>
              </tr>
            
              <tr *ngFor="let notification of filteredNotifications | slice:0:10">
                <td>{{ notification.message }}</td>
                <td>{{ notification.taskId }}</td>
                <td>{{ notification.timestamp }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Router outlet for displaying the appropriate view -->
    <router-outlet></router-outlet>

   </div>
  </div>
</div>
