<div class="container" #screen>
  <app-loader></app-loader>
  <div class="mainContent">
    <button class="DL_Btn" (click)="generatePdf()" [disabled]="!isFleet || isExpInProgress || !selectedMap">
        <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg" >
          <path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" ></path>
        </svg>
        <span class="icon2"></span>
        <span class="tooltip">{{this.getTranslation("exportAsPDF")}}</span>
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0)" size = "default" color = "black" type = "ball-spin" [fullScreen] = "false">
        </ngx-spinner>
    </button>

    <!-- Router outlet for displaying the appropriate view -->
    <!-- Slider button -->

    <div class="slider-buttons-container">
      <div class="slider-buttons">
        <button
          (click)="setView('operation')"
          [class.active]="currentView === 'operation'"
        >
        {{ getTranslation('operation') }}
        </button>
        <button
          (click)="setView('robot')"
          [class.active]="currentView === 'robot'"
        >
        {{ getTranslation('robot') }}
        </button>
        <div
          class="slider"
          [ngClass]="{
            left: currentView === 'operation',
            right: currentView === 'robot'
          }"
        ></div>
      </div>
    </div>
    <div *ngIf="currentView === 'operation'">

      <div class="statistics-container">
        <!-- Stat card 1 -->
        <div class="stat-card stat-card-1">
          <div class="stat-value">{{ getTranslation('systemThroughput') }}</div>
          <h2>{{ statisticsData.systemThroughput }}</h2>
          <div class="stat-change positive">
            <!-- +{{ statisticsData.systemThroughputChange }}% <span>&uarr;</span> -->
          </div>
          <div class="stat-chart">
            <section>
              <div class="loading">
                <svg width="50" height="50" viewBox="0 0 150 75" xmlns="http://www.w3.org/2000/svg">
                  <!-- SVG chart rendering -->
                   
                  <polyline
                  id="back"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                <polyline
                  id="front"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                </svg>
              </div>
            </section>
          </div>
        </div>

        <!-- Stat card 2 -->
        <div class="stat-card stat-card-2">
          <div class="stat-value">{{ getTranslation('systemUptime') }}</div>
          <h2>{{ statisticsData.systemUptime || getTranslation('loading') }}</h2>
          <div class="stat-change positive">
            <!-- +{{ statisticsData.systemUptimeChange }}% <span>&uarr;</span> -->
          </div>
          <div class="stat-chart">
            <section>
              <div class="loading">
                <svg width="50" height="50" viewBox="0 0 150 75" xmlns="http://www.w3.org/2000/svg">
                  <!-- SVG chart rendering -->
                  <polyline
                  id="back"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                <polyline
                  id="front"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                </svg>
              </div>
            </section>
          </div>
        </div>

        <!-- Stat card 3 -->
        <div class="stat-card stat-card-3">
          <div class="stat-value">{{ getTranslation('successRate') }}</div>
          <!-- <h2>{{ statisticsData.successRate || 'Loading...' }}</h2> -->
          <h2>{{ statisticsData.successRate || getTranslation('loading')}}</h2>
          <div class="stat-change negative">
            <!-- {{ statisticsData.successRateChange }}% <span>&darr;</span> -->
          </div>
          <div class="stat-chart">
            <section>
              <div class="loading">
                <svg width="50" height="50" viewBox="0 0 150 75" xmlns="http://www.w3.org/2000/svg">
                  <!-- SVG chart rendering -->
                  <polyline
                  id="back"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                <polyline
                  id="front"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                </svg>
              </div>
            </section>
          </div>
        </div>

        <!-- Stat card 4 -->
        <div class="stat-card stat-card-4">
          <div class="stat-value">{{ getTranslation('responsiveness') }}</div>
          <h2>{{ statisticsData.responsiveness ||  getTranslation('loading')  }}</h2>
          <div class="stat-change positive">
            <!-- +{{ statisticsData.responsivenessChange }}% <span>&uarr;</span> -->
          </div>
          <div class="stat-chart">
            <section>
              <div class="loading">
                <svg width="50" height="50" viewBox="0 0 150 75" xmlns="http://www.w3.org/2000/svg">
                  <!-- SVG chart rendering -->
                  <polyline
                  id="back"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                <polyline
                  id="front"
                  points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
                ></polyline>
                </svg>
              </div>
            </section>
          </div>
        </div>
      </div>


    <div class="charts-container">
      <div class="area-chart-container">
        <app-area-chart
        (systemThroughputEvent)="updateSysThroughput($event)"
        [taskData]="operationPie"
        ></app-area-chart>
      </div>
      <div class="donut-chart-container">
          <!-- Loader -->
        <div *ngIf="isLoading" class="loader-container">
          <div class="loader"></div>
          <p class="loading-text">Loading...</p>
        </div>
        <ng-container *ngIf="hasData(); else noData">
          <app-gradient-donut
            [series]="operationPie"
            [labels]="[
              getTranslation('completed'),
              getTranslation('assigned'),
              getTranslation('inProgress'),
              getTranslation('toDo'),
              getTranslation('error'),
              getTranslation('cancelled')
            ]"
            [chartWidth]="495"
            [chartHeight]="315"
            [colors]="['#008FFB', '#00E396', '#FEB019', '#CD7F32', '#F63333', '#775DD0']"
            [fillType]="'gradient'"
            [titleText]="getTranslation('operations')"
            [legendFontSize]="'16px'"
            [dataLabelFontSize]="'10px'"
          >
          </app-gradient-donut>
        </ng-container>
        <ng-template #noData>
          <div *ngIf="!isLoading" class="no-data-card">
            <img src="../../assets/No data.gif" class="gif">
            <p>{{ getTranslation('noDataFound') }}</p>
          </div>
        </ng-template>
      </div>
      
    </div>

    <div class="dashboard-container">
      <!-- Robot Activity Section -->
      <div class="operation-activity-container">
        <div class="section-header">
          <h3>{{ getTranslation('operationActivities') }}</h3>
          <div class="search-box">
            <input
              type="text"
              placeholder="{{ getTranslation('searchActivities') }}"
              (input)="onSearch($event)"
            />
          </div>
          <button class="view-all-btn" (click)="onViewAllClick()">{{ getTranslation('viewAll') }}</button>
        </div>
        <div class="operation-activity-table-container">
          <table class="operation-activity-table">
            <thead>
              <tr>
                <th>{{ getTranslation('taskId') }}</th>
                <th>{{ getTranslation('taskName') }}</th>
                <th>{{ getTranslation('robotName') }}</th>
                <th>{{ getTranslation('status') }}</th>
              </tr>
            </thead>
            <tbody>

             <!-- Show No Data Row with image and message -->
             <tr *ngIf="filteredOperationActivities.length === 0">
              <td colspan="4" class="no-data">
                <div class="no-data-container">
                  <img src="../../assets/no-data.svg" alt="No Data" class="no-data-image">
                  <p class="no-data-text">{{ getTranslation('noData') }}</p>
                </div>
              </td>
            </tr>

              <tr *ngFor="let activity of filteredOperationActivities | slice:0:10">
                <td>{{ activity.taskId }}</td>
                <td>{{ getTaskTranslation(activity.taskName) }}</td>
                <td>{{ activity.robotName }}</td>
                <td>{{ getTaskTranslation(activity.status) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <!-- Notifications Section -->
      <div class="notifications-container">
        <div class="section-header">
          <h3>{{ getTranslation('notifications') }}</h3>
          <div class="search-box">
            <input
              type="text"
              placeholder="{{ getTranslation('searchNotifications') }}"
            />
          </div>
          <!-- <button class="view-all-btn">View All</button> -->
        </div>
        <div class="robot-activity-table-container">
          <table class="notifications-table">
            <thead>
              <tr>
                <th>{{ getTranslation('message') }}</th>
                <th>{{ getTranslation('taskId') }}</th>
                <th>{{ getTranslation('timestamp') }}</th>
              </tr>
            </thead>
            <tbody>

              <!-- Show No Data Row with image and message -->
              <tr *ngIf="filteredTaskNotifications.length === 0">
                <td colspan="3" class="no-data">
                  <div class="no-data-container">
                    <img src="../../assets/no-data.svg" alt="No Data" class="no-data-image">
                    <p class="no-data-text">{{ getTranslation('noData') }}</p>
                  </div>
                </td>
              </tr>

              <tr *ngFor="let notification of filteredTaskNotifications | slice:0:10">
                <td>{{ notification.status }}</td>
                <td>{{ notification.taskId }}</td>
                <td>{{ notification.timestamp }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Router outlet for displaying the appropriate view -->
    <router-outlet></router-outlet>

   </div>
  </div>
</div>
