name: Deploy Angular App to Docker

on:
  push:
    branches:
      -  FleetUI_FE_Development_V1.5 # Branch to trigger the workflow

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
#environment.
    env:
      AWS_REGION: ap-south-1  # Change to your region

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build Docker image
      run: |
        docker build -t fleetui:latest .

    - name: List Docker images
      run: docker images

    - name: Save Docker image as .tar file
      run: |
        docker save fleetui:latest -o fleetui.tar

    - name: Deploy to EC2
      env:
        PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
        HOST: ${{ secrets.EC2_HOST }}
        USER: ${{ secrets.EC2_USER }}
      run: |
        # Save the private key for SSH access to EC2
        echo "$PRIVATE_KEY" > private_key.pem
        chmod 600 private_key.pem
        
        # SCP the Docker image file to EC2
        scp -o StrictHostKeyChecking=no -i private_key.pem fleetui.tar "$USER@$HOST:~/fleetui.tar"

        # SSH into the EC2 instance and deploy the Docker container
        ssh -o StrictHostKeyChecking=no -i private_key.pem "$USER@$HOST" << EOF

         # Check for existing container and remove if it exists
        if [ "\$(sudo docker ps -aq -f name=fleet_container)" ]; then
          echo "Stopping and removing existing container..."
          sudo docker stop fleet_container || true
          sudo docker rm fleet_container || true
        fi
        if [ "\$(sudo docker images -q fleetui:latest)" ]; then
          echo "Removing existing image..."
          sudo docker rmi fleetui:latest || true
        fi

        # Load the Docker image from the tar file
        sudo docker load -i ~/fleetui.tar

        # Run the Docker container
        sudo docker run -d -p 80:80 --name fleet_container fleetui:latest
        EOF
