name: Deploy Angular App to Docker

on:
  push:
    branches:
      - FleetUI_FE_Development  # branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    env:
      AWS_REGION: ap-south-1  # Change to your region

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build Docker image
      run: |
        docker build -t fleet_fe .

    - name: List Docker images
      run: docker images

    - name: Log in to Amazon ECR
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ env.AWS_REGION }}  # Use the environment variable
      run: |
        aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 207080927318.dkr.ecr.$AWS_REGION.amazonaws.com

    - name: Tag Docker Image
      run: |
        docker tag my-fleetfeapp-repo:latest 207080927318.dkr.ecr.$AWS_REGION.amazonaws.com/my-fleetfeapp-repo:latest

    - name: Push Docker Image to ECR
      run: |
        docker push 207080927318.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/my-fleetfeapp-repo:latest

    - name: Save Docker image
      run: |
        docker save fleet_fe -o fleet_fe.tar

    - name: Deploy to EC2
      env:
        PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
        HOST: ${{ secrets.EC2_HOST }}
        USER: ${{ secrets.EC2_USER }}
      run: |
        # Debugging output
        echo "Private Key Length: ${#PRIVATE_KEY}"
        if [ ${#PRIVATE_KEY} -eq 0 ]; then
          echo "Error: PRIVATE_KEY is empty"
          exit 1
        fi
        echo "$PRIVATE_KEY" > private_key.pem
        chmod 600 private_key.pem
        
        # Debugging output
        echo "Private Key Length: ${#PRIVATE_KEY}"
        
        scp -o StrictHostKeyChecking=no -i private_key.pem fleet_fe.tar "$USER@$HOST:~/fleet_fe.tar"

        ssh -o StrictHostKeyChecking=no -i private_key.pem "$USER@$HOST" << EOF
        docker load -i ~/fleet_fe.tar
        docker run -d -p 80:80 --name fleet_container fleet_fe
        EOF
