name: Deploy Angular App to Docker

on:
  push:
    branches:
      - FleetUI_FE_Development  #branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build Docker image
      run: |
        docker build -t fleet_fe .
    - name: List Docker images
      run: docker images

    - name: Save Docker image
      run: |
        docker save fleet_fe -o fleet_fe.tar

    - name: Deploy to EC2
      env:
        PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
        HOST: ${{ secrets.EC2_HOST }}
        USER: ${{ secrets.EC2_USER }}
      run: |
        # Debugging output
        echo "Private Key Length: ${#PRIVATE_KEY}"
        if [ ${#PRIVATE_KEY} -eq 0 ]; then
        echo "Error: PRIVATE_KEY is empty"
        exit 1
        fi
        echo "$PRIVATE_KEY" > private_key.pem
        chmod 600 private_key.pem
        
        # Debugging output
        echo "Private Key Length: ${#PRIVATE_KEY}"
        
        scp -o StrictHostKeyChecking=no -i private_key.pem fleet_fe.tar "$USER@$HOST:~/fleet_fe.tar"

        ssh -o StrictHostKeyChecking=no -i private_key.pem "$USER@$HOST" << EOF
        docker load -i ~/fleet_fe.tar
        docker run -d -p 80:80 --name fleet_container fleet_fe
        EOF
