.notification-popup {
  position: fixed;
  top: 55px;
  right: 75px;
  width: 350px;
  max-height: 500px;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgb(246 10 10 / 20%);
  z-index: 1000;
  padding: 16px 20px;
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.notification-popup.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 12px;
}

.notification-popup h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: #333;
}

/* Notification list */
.notification-popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-popup li {
  position: relative;
  padding: 10px 12px 22px 12px; /* Extra bottom padding for time */
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #f4f4f4;
  transition: background-color 0.2s ease;
  display: flex;
  flex-direction: column;
}

.notification-time {
  position: absolute;
  bottom: 23px;
  right: 41px;
  font-size: 12px;
  color: #999;
}


.notification-label {
  font-weight: bold;
  margin-bottom: 4px;
}

.notification-message {
  color: #555;
  font-size: 14px;
}


.alert-red {
  border-left: 5px solid #ff4d4f;
  background-color: #fff1f0;
}

.alert-yellow {
  border-left: 5px solid #ffc107;
}

.alert-green {
  border-left: 5px solid #28a745;
}


.Clr-BTN {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.clear-all-btn {
  background-color: #ff7373;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clear-all-btn:hover {
  background-color: #ff4c4c;
}

/* No Notifications */
.no-notifications {
  text-align: center;
  padding: 20px;
  color: #999;
}

.no-notifications img {
  width: 10vw;
  height: 20vh;
  margin-left: 3rem;
}

.notification-header-with-icon {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.icon-red {
  background-color: #ff4d4f;
}

.icon-yellow {
  background-color: #ffc107;
}

.icon-green {
  background-color: #28a745;
}

.notification-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 16px;
  color: #888;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

.close-btn:hover {
  color: #ff4d4f;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.dot.red {
  background-color: #ff4d4f;
}

.dot.yellow {
  background-color: #ffc107;
}

.dot.green {
  background-color: #28a745;
}
